.aboutUs {
    color: $black;
    text-align: center;
    background: url(../assets/aboutUsBg.png) no-repeat;
    background-position: center 120px;
    padding-top: 90px;
    margin-bottom: 90px;
    position: relative;
    font-weight: bold;
    text-shadow: none;


    h3 {
        font-size: 44px;
        font-family: Intro;
        margin-top: 15px;
    }

    .title {
        max-width: 800px;
        line-height: 1.2;
        margin: auto;
        font-family: Intro;
    }
    
    .sectionDescr {
        max-width: 400px;
        margin: 25px auto 50px;
        font-size: 24px;
        line-height: 1;

        p {
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }

    .yearStat {
        display: flex;
        font-size: 24px;
        justify-content: space-between;
        line-height: 1.1;

        li {
            max-width: 300px;
        }

        .year {
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
}

