.employment {
    background: url("../assets/employmentBg.svg") no-repeat center / auto 100%;

    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .hashtag-title {
        margin-bottom: 50px;
    }

    .descr {
        margin-top: 10px;
        margin-bottom: 60px;
        max-width: 450px;
        position: relative;

        img {
            position: absolute;
            right: -160%;
            top: -210%;
        }
    }

    .sourcesList {
        margin-bottom: 30px;
        margin-top: 30px;
        line-height: 1.25;

        li {
            padding: 15px;
            border: 5px solid $red;
            background-color: $black;
            color: $white;
            width: calc(50% - 15px);

            .list__title {
                margin-bottom: 10px;
                max-width: 430px;
            }

            &:nth-child(odd) {
                margin-right: 30px;
            }

            &:nth-child(-n+2) {
                margin-bottom: 30px;
            }
        }
    }

    .warrantySpan {
        max-width: 950px;
        span {
            color: $green;
            margin-left: 4px;
        }
    }

    .payBtn {
        font-size: 18px;
        color: $white;
        text-transform: uppercase;
        padding: 14px 35px 16px;
        position: relative;
        font-weight: 700;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 60px;
        z-index: 2;

        &:hover {
            &:before {
                height: 100%;
            } 
        }

        &:after {
            position: absolute;
            content: "";
            background-color: $green;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -2;
        }

        &:before {
            position: absolute;
            content: "";
            bottom: 0;
            width: 100%;
            height: 6px;
            left: 0;
            background-color: #015339;
            z-index: -1;
            transition: .3s;
        }
    }
}

@media(max-width: 1200px) {
    .employment {
        .descr {
            img {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .employment {
        background: url('../assets/employmentMobBg.svg') no-repeat center / cover;
    }
}

@media (max-width: 992px) {
    .employment {
        .container {
            padding-top: 50px;
        }

        .hashtag-title {
            margin-bottom: 40px;
        }

        .descr {
            margin: 10px 0 195px;
            position: relative;

            img {
                position: absolute;
                display: block;
                right: 0;
                left: auto;
                top: 60px;
                width: 280px;
                height: 160px;
            }
        }

        .sourcesList {
            li {
                width: 100%;

                &:nth-child(odd) {
                    margin-right: 0;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .list__title {
                 
                }
            }
        }

        .payBtn {
            font-size: 16px;
            padding-left: 28px;
            padding-right: 28px;
        }
    }
}

@media (max-width: 359px) {
    .employment {
        .hashtag-title {
            font-size: 22px;
        }

        .payBtn {
            font-size: 14px;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}