.features {
    color: #333;

    .container {
        padding-top: 50px;
        padding-bottom: 150px;
    }

    #featuresModal {
        color: #4f4f4f;

        .topNav {
            display: none;
        }

        .modal-dialog {
            max-width: 700px;
        }

        .modal-header {
            margin-bottom: 33px;
        }

        .modal-content {
            padding: 40px 20px 40px 40px;
            background: url("../assets/featuresModalShield.svg") no-repeat 445px 70px white;

            .modal-header, .modal-body, .modal-footer {
                padding: 0;
                border: none;
            }

            ul {
                margin-bottom: 30px;

                li {
                    padding-left: 35px;
                    background: url("../assets/featuresModuleOkIcon.svg") no-repeat left center;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }

            .textBlock {
                line-height: 1.25;
                padding-right: 20px;

                .mb-20  {
                    margin-bottom: 20px;
                }

                .header3 {
                    margin-bottom: 5px;
                }
            }

            button {
                color: #828282;
                height: 50px;
                width: 263px;
                border: 2px solid #828282;
                border-radius: 5px;
                background-color: transparent;
                margin: 50px auto 0;
            }
        }
    }

    .bonusesList {
        margin-top: 76px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .header4 {
            color: #828282;
            margin-top: 5px;
        }

        li {
            width: 25%;
            line-height: 1.25;
            padding-top: 107px;

            &:nth-child(1) {
                background: url("../assets/featuresIcon1.svg") no-repeat left top;
            } 

            &:nth-child(2) {
                background: url("../assets/featuresIcon2.svg") no-repeat left top;
            } 

            &:nth-child(3) {
                background: url("../assets/featuresIcon3.svg") no-repeat left top;
            } 

            &:nth-child(4) {
                background: url("../assets/featuresIcon4.svg") no-repeat left top;
            } 

            &:nth-child(5) {
                background: url("../assets/featuresIcon5.svg") no-repeat left top;
            } 

            &:nth-child(6) {
                background: url("../assets/featuresIcon6.svg") no-repeat left top;
            } 

            &:nth-child(7) {
                background: url("../assets/featuresIcon7.svg") no-repeat left top;
            } 

            &:nth-child(8) {
                background: url("../assets/featuresIcon8.svg") no-repeat left top;
            } 

            &:not(:nth-last-child(-n+4)) {
                margin-bottom: 30px;
            }
        }
    }

    .cardsList {
        color: #333;
        width: 100%;
        display: flex;

        li {
            padding-right: 317px;
            width: calc(50% - 15px);
            box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            line-height: 1.25;

            &:nth-child(1) {
                margin-right: 30px;
                background: url("../assets/cardsListBg1.png") no-repeat right center;
            }

            &:nth-child(2) {
                background: url("../assets/cardsListBg2.png") no-repeat right center;

                span {
                    color: #333;
                }

                .info {
                    span {
                        font-family: "Playfair Display", sans-serif;
                        font-size: 52px;
                        font-weight: 700;
                        color: $yellow;
                    }

                    margin-bottom: 9px;
                }

                .more {
                    display: flex;
                    align-items: center;
                    margin-top: 46px;
                    transition: .3s;
                    cursor: pointer;

                    svg {
                        transition: .3s;
                    }

                    &:hover {
                        color: #333;

                        svg {
                            fill: #333;
                        }
                    }
                    
                    p {
                        padding-right: 10px;
                    }
                }

                .header2 {
                    margin-bottom: 10px;
                    line-height: 1.25;
                }

                .header3 {
                    line-height: 1.25;
                }
            }

            .content {
                background: white;
                border-radius: 5px 0 0 5px;
                padding: 20px 40px 20px 20px;
                width: 263px;
            }

            .header2 {
                color: $yellow;
                margin-bottom: 25px;
            }
    
            .header3 {
                line-height: 0.8;
                margin-bottom: 53px;
    
                p {
                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }
    
            .more {
                color: #828282;
                max-width: 207px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .features {
        .bonusesList {
            li {
                .header3 {
                    font-size: 22px;
                }

                .header4 {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .features {
        .container {
            padding: 0;
            
        }

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        .bonusesList {
            margin-top: 50px;
            margin-bottom: 60px;

            li {
                max-width: none;
                
                height: 153px;

                &:nth-child(n) {
                    background-size: 65px 65px;
                    padding-top: 75px;
                }

                .header3 {
                    font-size: 16px;
                    max-width: 200px;
                }

                .header4 {
                    font-size: 14px;
                }
            }
        }

        .cardsList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                width: 100%;
                max-width: 320px;
                padding-top: 186px;
                padding-right: 0;

                .content {
                    padding-right: 20px;
                    border-radius: 0 0 5px 5px;
                }

                .header3 {
                    font-size: 24px;
                    margin-bottom: 25px;
                    
                    p {
                        &:first-child {
                            
                        }
                    }
                }

                .header2 {
                    margin-bottom: 15px;
                }

                .more {
                    font-size: 14px;
                    max-width: none;
                }

                &:nth-child(n) {
                    background: url("../assets/featuresMobBg2.png") no-repeat center top;
                }

                &:first-child {
                    margin-bottom: 40px;
                    margin-right: 0;
                    background: url("../assets/featuresMobBg1.png") no-repeat center top;
                }

                &:last-child {
                    .more {
                        margin-top: 20px;
                    }

                    .content {
                        padding-top: 0;
                    }
                }

                .content {
                    width: 100%;
                }
            }
        }

        #featuresModal {
            .modal-header {
                display: flex;
                flex-direction: column;
            }

            .modal-content {
                .header2 {
                    background: $gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .topNav {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 768px) {
    .features {
        .bonusesList {
            li {
                width: 50%;

                .header3 {
                    font-size: 20px;
                }
            }
        }

        .cardsList {
            max-width: 320px;
            margin: 0 auto;
        }

        #featuresModal {
            color: #4f4f4f;
    
            .modal-content {
                background: url("../assets/featuresModalShield.svg") no-repeat 90% 50px / 85px 85px white;
            }
        }
    }
}

@media (max-width: 576px) {
    .features {
        .container {
            padding-right: 20px;
            padding-left: 20px;
        }

        .bonusesList {
            max-width: 380px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            li {
                width: calc(50% - 3px);

                &:not(:last-child) {
                    margin-bottom: 0px;
                }

                .header3 {
                    font-size: 16px;
                }

                &:nth-child(odd) {
                    margin-right: 6px;
                }
            }
        }

        .cardsList {
            max-width: 320px;
            margin: 0 auto;
        }

        #featuresModal {
            color: #4f4f4f;
    
            .modal-content {
                padding: 20px 0 20px 20px;

                .modal-header, .modal-footer {
                    padding-right: 20px;
                }

                ul {
                    max-width: 290px;

                    li {
                        &:first-child {
                            max-width: 233px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .features {
        .bonusesList {
            margin-bottom: 30px;
            
            li {
                &:not(:last-child) {
                    margin-bottom: 0px;
                }

                .header3 {
                    font-size: 14px;
                }

                .header4 {
                    font-size: 11px;
                }
            }
        }

        .cardsList {
            li {
                &:first-child {
                    .more {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    #featuresModal {
        .header2 {
            font-size: 22px;
        }
    }
}