.founders {
    color: $white;
    background: url("../assets/foundersBg.svg") no-repeat center / auto 100% $black;

    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .subtitle {
        color: #bdbdbd;
        line-height: 1.25;
        max-width: 805px;
        margin-top: 50px;
        margin-bottom: 60px;
        
        p {
            &:first-child {
                color: $yellow;
            }
        }
    }

    .founderList {
        color: #e0e0e0;
        
        li {
            padding-left: 30px;
            background: url('../assets/foundersFrame.svg') no-repeat left 4px;
            max-width: 840px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .foundersAvatars {
        margin-top: 100px;

        .ava {
            position: relative;          

            .vkLink {
                position: absolute;
                bottom: 5px;
                left: 5px;
                padding: 5px;
                background-color: #fff;

                .vkBorder {
                    transition: .3s;
                }
    
                .vkLogo {
                    transition: .3s;
                }
    
                &:hover {
                    
    
                    .vkLogo {
                        fill: white;
                    }
    
                    .vkBorder {
                        fill: #2F80ED;
                    }
                }

                svg {
                    width: 23px;
                    height: 23px;
                    margin-right: 13px;
                }

                p {
                    font-size: 14px;
                    color: $black;
                    text-transform: uppercase;
                }
            }
        }

        li {
            max-width: 360px;
            line-height: 1.25;
            text-align: center;

            .descr {
                padding: 15px 20px 20px;
                
            }

            .name {
                margin-bottom: 10px;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
            }

            .fileBtn {
                z-index: 1;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
                transition: .3s;
                padding: 12px 0 14px;
                display: block;
                position: relative;
                margin-top: 15px;
        
                &:hover {
                    color: $white;
        
                    &:before {
                        height: 100%;
                    }
                }
        
                &:after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    z-index: -2;
                    left: 0;
                    bottom: 0px;
                    background-color: $red;
                }
        
                &:before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    height: 0px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    border-bottom: 6px solid #D61400;
                    background-color: #D61400;
                    transition: .4s ease;
                }
            }

            &:first-child {
                margin-right: 30px;

                .descr {
                    border: 5px solid #940D19;
                    border-top: none;
                    background-color: $black;
                }
            }

            &:last-child {
                color: black;
                .descr {
                    background-color: $white;
                    border: 5px solid #FFB202;
                    border-top: none;
                }

                

                .name {
                    margin-bottom: 20px;
                }

                .prof {
                    margin-bottom: 5px;
                }

                .fileBtn {
                    margin-top: 25px;
                    color: $black;

                    &:after {
                        background-color: $yellow;
                    }

                    &:hover {
                        color: $white;
                    }

                    &:before {
                        border-bottom: 6px solid #854212;
                        background-color: #854212;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .founders {
        background:url('../assets/foundersMobBg.svg') no-repeat center / cover;

        .container {
            padding-top: 50px;
        }

        .subtitle {
            margin-top: 40px;
            margin-bottom: 30px;
        }

        .founderList {
            li {
                padding-left: 20px;
                background-size: 8px 10px;
                line-height: 1.25;
            }
        }

        .foundersAvatars {
            margin-top: 60px;
            flex-direction: column;
            align-items: center;

            li {
                &:first-child {
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 359px) {
    .founders {
        .foundersAvatars {
            li {
                .fileBtn {
                    font-size: 16px;
                }
            }
        }
    }
}