.future {
    padding: 90px 0 0;
    background: url("../assets/lastBg.png") no-repeat center / cover;
    color: black;
    text-shadow: none;
    text-align: center;
    font-size: 30px;

    ul {
        margin-top: 60px;

        li {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}

.footer {
    padding: 20px 0 15px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 44px;
    color: white;
    font-family: Intro;
    margin-top: 100px;
}