.premium {
    background: url('../assets/premiumBg.svg') no-repeat center / auto 100%;

    .container {
        padding-bottom: 250px;
        padding-top: 100px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .header2 {
        margin-bottom: 90px;
        position: relative;
        color: #333333;

        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 2px;
            width: 293px;
            background-color: $yellow;
        }
    }

    ul {
        li {
            padding-left: 70px;
            max-width: 445px;
            line-height: 1.3;

            &:nth-child(1) {
                background: url('../assets/premiumIcon1.svg') no-repeat left center;
            }

            &:nth-child(2) {
                background: url('../assets/premiumIcon2.svg') no-repeat left center;
            }

            &:nth-child(3) {
                background: url('../assets/premiumIcon3.svg') no-repeat left center;
            }

            &:nth-child(4) {
                background: url('../assets/premiumIcon4.svg') no-repeat left center;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .premium {
        background-position: 45% top;
    }
}

@media (max-width: 992px) {
    .premium {
        background: none;

        .container {
            padding-top: 100px;
            padding-bottom: 0;
        }

        .header2 {
            margin-bottom: 60px;
            max-width: 200px;
        }

        ul {
            li {
                &:nth-child(n) {
                    padding-left: 75px;
                    background-size: 55px 55px;
                    min-height: 55px;
                    display: flex;
                    align-items: center;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}