.problem {
    background: url("../assets/problemBg.png") no-repeat center / cover;
    background-color: rgba(89, 88, 88, 0.6);
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 90px 0 170px;
    text-align: center;
    position: relative;

    

    ul {
        margin-top: 70px;
        max-width: 700px;
        text-align: left;
        position: relative;

        .problemImg {
            position: absolute;
            left: 750px;
            top: 100px;
        }

        .problemImg2 {
            position: absolute;
            left: -570px;
            top: -80px;   
        }

        &:last-child {
            text-align: right;
            margin: 160px 0 0 400px;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:first-child {
                margin-bottom: 50px;
            }

            .problemTitle {
                margin-bottom: 25px;
                font-size: 48px;
                font-weight: bold;
            }

            .problemDescr {
                font-size: 24px;
                line-height: 1.2;
            }
        }
    }

    .secondTitle {
        margin-top: 150px;
    }

    
}

.about {
    color: black;
    position: relative;
    padding: 90px 0;
    font-size: 24px;
    text-shadow: none;
    text-align: center;

    

    ul {
        max-width: 700px;
        margin-top: 60px;
        text-align: left;
        position: relative;

        img {
            position: absolute;
            left: 750px;
            top: 90px;
        }

        li:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.images:hover {
    fill: red;
}