.pros {
    background: url("../assets/problemBg.png") no-repeat center / cover;
    background-color: rgba(89, 88, 88, 0.6);
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 90px 0;
    font-size: 24px;
    text-align: center;
    position: relative;

    .numbersContainer {
        position: relative;
    }

    .numbersImages {
        position: absolute;
        height: 380px;
        max-width: 548px;
        display: flex;
        overflow-x: hidden;     
        top: 50px;
        left: -200px;

        img {
            transform: translateX(0px);
            transition: 1s;
        }   
    }

    

    .benefits {
        margin-top: 100px;
    }

    .numbersList {
        display: flex;
        position: relative;
        height: 640px;
        margin-top: 50px;  
        max-width: 700px;
        overflow-x: hidden;
        margin-left: 400px;

        
        
        ul {
            position: absolute;
            text-align: right;

            li {
               
            }
    
            li:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }


    #firstText li {
        transition: .5s;
        transform: translateX(0px);
    }

    #secondText li {
        transition: .5s;
        transform: translateX(-3000px);
        
    }

    #thirdText li {
        transform: translateX(-3000px);
        transition: .5s;
    }

    #fourthText li {
        transform: translateX(-3000px);
        transition: .5s;
    }

    .insane {
        transform: translateX(-3000px);
    }

    

    @keyframes numbersAnimOutLeft {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-3000px);
        }
    }

    @keyframes numbersAnimOutRight {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(3000px);
        }
    }

    @keyframes numbersAnimInRight {
        from {
            transform: translateX(3000px);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes numbersAnimInLeft {
        from {
            transform: translateX(3000px);
        }

        to {
            transform: translateX(0);
        }
    }

    .svgImg {
        width: 59px;
        height: 59px;
        fill: white;
        transition: .3s;
    
        &:not(:last-child) {
            margin-right: 70px;
        }

        &:hover {
            fill: #75c8cc;
        }
    }

    .active {
        fill: #75c8cc;
    }

    .benefits {
        text-align: center;

        .title {
            text-align: center;
            width: 1000px;
            transition: .5s;
        }
        
        .benefitTexts {
            position: relative;
            height: 503px;            
    
            &>div {
                position: absolute;
                margin-top: 35px;
                width: 100%;

                ul {
                    margin-top: 35px;
                    text-align: left;
                    max-width: 700px;
                    overflow-x: hidden;

                    li:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
    
            .secondBenefit {
                li {
                    transform: translateX(-3000px);
                }

                .title {
                    transform: translateX(-3000px);
                }
            }
    
            .thirdBenefit {
                li {
                    transform: translateX(-3000px);
                }

                .title {
                    transform: translateX(-3000px);
                }
            }
    
            .fourthBenefit {
                li {
                    transform: translateX(-3000px);
                }
                
                .title {
                    transform: translateX(-3000px);
                }
            }
        }
    }

    .benefitsContainer {
        position: relative;

        .itemsImages {
            display: flex;
            position: absolute;
            max-width: 514px;
            overflow-x: hidden;
            right: -200px;
            top: 110px;
    
            img {
                height: 380px;
                transition: 1s;
                transform: translateX(0px);
            }
        }
    }

    .svgImages {
        margin-top: 50px;
    }

    .svgItems {
        fill: white;
        transition: .3s;

        &:not(:last-child) {
            margin-right: 70px;
        }
    
        &:hover {
            fill: #75c8cc;
        }

        
    }

    .active {
        fill: #75c8cc;
    }
    
}