.problem {
    padding: 145px 0 160px;
    background: rgb(249, 249, 249);

    .container {
        background: url('../img/problemBg.png') no-repeat right 375px;
    }
    

    h2 {
        margin-bottom: 125px;
    }

    ul {
        max-width: 564px;

        li {
            display: block;

            &:first-child {
                margin-bottom: 103px;
            }
        }

        h3 {
            margin-bottom: 32px;
        }
    }
}

.solution {
    padding: 105px 0 158px;
    background: url('../img/solutionBg.png') no-repeat center / cover;
    color: $brightText;

    h2 {
        margin-bottom: 50px;
        max-width: 564px;
    }

    p {
        max-width: 564px;
        margin-bottom: 20px;
    }
}

.about {
    padding: 145px 0 158px;
    background: rgb(255, 255, 255);

    .texts {
        position: relative;
        height: 216px;
        max-width: 564px;
        overflow: hidden;

        p {
            width: 564px;
            position: absolute;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;

            &:not(:first-child) {
                left: 600px;
            }
        } 
    }

    h2 {
        margin-bottom: 90px;
    }

    .arrowRight {
        transform: rotate(180deg);
        margin-left: 53px;
        cursor: pointer;
    }

    .arrowLeft {
        margin-right: 53px;
        cursor: pointer;
    }

    .arrows {
        margin-top: 30px;
    }
    
    span {
        font-weight: 300;
    }
}

.howItWorks {
    color: $brightText;
    background: $darkBg1;
    padding: 144px 0 160px;

    .container {
        background: url('../img/how1.png') no-repeat right 220px;
        transition: .5s;
    }

    .texts {
        position: relative;
        height: 454px;
        max-width: 564px;
        overflow: hidden;

        p {
            position: absolute;
            margin-bottom: 137px;
            width: 564px;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            transition: .7s;

            &:not(:first-child) {
                opacity: 0;
            }
        }
    }

    h2 {
        max-width: 257px;
        text-transform: uppercase;
        margin-bottom: 112px;
    }

    .arrowRoundLeft {
        transform: rotate(180deg);
        margin-right: 10px;
    }
}

.benefits {
    padding: 133px 0 158px;
    background: rgb(255, 255, 255);

    .container {
        background: url('../img/benefits1.png') no-repeat right 340px;
        transition: .5s;
    }

    h2 {
        max-width: 564px;
        font-size: 80px;
        line-height: 102%;
    }

    .titles {
        margin-bottom: 51px;
        position: relative;
        height: 250px;
        max-width: 650px;
        overflow: hidden;

        h2 {
            position: absolute;
            max-width: 677px;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;

            &:not(:first-child) {
                left: 700px;
            }
        }
    }

    .texts {
        position: relative;
        height: 243px;
        max-width: 650px;
        overflow-x: hidden;
        
        p {
            position: absolute;
            width: 564px;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;

            &:not(:first-child) {
                left: 700px;
            }
        }
    }

    .numbers {
        display: flex;
        margin-top: 75px;

        p {
            width: 25px;
            height: 25px;
            border: 1px solid black;
            border-radius: 50%;
            padding-top: 3px;
            padding-left: 1px;
            text-align: center;
            transition: .3s;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &:hover {
                background-color: $darkBg1;
                color: $brightText;
            }
        }
    }

    .numbersActive {
        background-color: $darkBg1;
        color: $brightText;
    }
}

@keyframes rightIn {
    from {
        left: 700px;
    }
    to {
        left: 0px;
    }
}

@keyframes rightOut {
    from {
        left: 0;
    }
    to {
        left: 700px;
    }
}

@keyframes leftIn {
    from {
        left: -700px;
    }
    to {
        left: 0;
    }
}

@keyframes leftOut {
    from {
        left: 0;
    }
    to {
        left: -700px;
    }
}

.audience {
    display: flex;
    color: $brightText;
    position: relative;
    background-color: $darkBg2;

    div {
        padding: 204px 0 201px;
        flex: 1;
        text-align: center;
        
        &:first-child {
            background: url('../img/audienceBg.png') no-repeat center / cover;
        }
    }

    h2 {
        position: absolute;
        top: 46px;
        left: 50%;
        margin-left: -66px;
        text-transform: uppercase;
    }
}

.playersBlock {
    height: 100vh;
    position: relative;
}

.players1 {
    background-color: $darkBg1;
    color: $brightText;
    position: absolute;
    width: 100vw;
    height: 100vh;

    h2 {
        max-width: 513px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
        height: 100vh;
        position: relative;

        .images {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 383px;
            height: 481px;
            display: flex;
            overflow: hidden;
        }

        .content {
            position: relative;
            height: 166px;
            width: 342px;
            margin-top: 140px;
            overflow: hidden;

            .content1 {
                height: 144px;
                width: 513px;
                position: absolute;
                max-width: 342px;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .arrowRoundRight {
                    margin-top: 50px;
                    height: 40px;
                    width: 40px;
                    background-color: #E35511;
                    text-align: center;
                    padding-top: 7px;
                    border-radius: 50%;
                    transition: .3s;

                    &:hover {
                        box-shadow: 0 0 0 10px rgba(227, 85, 17, 0.4);
                    }
                }
            }

            .content2 {
                position: absolute;
                top: 350px;
                height: 144px;
                width: 513px;
                max-width: 342px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .arrowRoundRight {
                    margin-top: 50px;
                    height: 40px;
                    width: 40px;
                    background-color: white;
                    text-align: center;
                    padding-top: 7px;
                    border-radius: 50%;
                    transition: .3s;

                    &:hover {
                        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
                    }
                }
            }

            .content3 {
                position: absolute;
                top: 350px;
                height: 144px;
                width: 513px;
                max-width: 342px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .arrowRoundRight {
                    margin-top: 50px;
                    height: 40px;
                    width: 40px;
                    background-color: #FF5D6A;
                    text-align: center;
                    padding-top: 7px;
                    border-radius: 50%;
                    transition: .3s;

                    &:hover {
                        box-shadow: 0 0 0 10px rgba(255, 93, 106, 0.4);
                    }
                }
            }
        }   
    }
}

.monetization {
    padding-top: 136px;
    background-color: $darkBg1;
    color: $brightText;
    text-align: center;

    h2 {
        margin-bottom: 58px;
    }

    .info {
        display: flex;
        margin: 0 auto;
        max-width: 1300px;
        
        
        .schools {
            position: relative;
            text-align: left;
            justify-content: space-between;
            height: 447px;
            
            
            flex-grow: 1;
            background: url('../img/monetSchool.png') no-repeat center / cover;

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -29px 0 0 -173px;
                transition: .5s;
            }

            .table {
                opacity: 0;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                transition: .5s;
                height: 447px;
                padding: 40px 18px 45px 56px;
                background-color: rgba(13, 13, 13, 0.8);
            }
            
            &:hover {
                h3 {
                    opacity: 0;
                }

                .table {
                    opacity: 1;
                }
            }
        }

        .students {
            flex-grow: 1;
            position: relative;
            text-align: left;
            justify-content: space-between;
            height: 447px;
            background: url('../img/monetStudents.png') no-repeat top / cover;

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -29px 0 0 -110px;
                transition: .5s;
            }

            .table {
                background-color: rgba(13, 13, 13, 0.8);
                opacity: 0;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                transition: .5s;
                height: 447px;
                padding: 40px 56px 107px 18px;
            }
            
            &:hover {
                h3 {
                    opacity: 0;
                }

                .table {
                    opacity: 1;
                }
            }
        }

        p {
            padding: 13px 0 14px;
            border-bottom: 2px solid rgba(236, 237, 241, 0.3);
        }
    }
}

.future {
    padding: 120px 0 0;
    background-color: $darkBg1;
    color: $brightText;
    border-bottom: 3px solid rgba(43, 232, 220, .3);

    h2 {
        max-width: 400px;
        margin-bottom: 70px;
    }

    li {
        padding-bottom: 26px;
        padding-top: 24px;
        border-bottom: 3px solid rgba(43, 232, 220, .3);
        width: 512px;
        min-height: 182px;
        display: block;

        &:last-child {
            border-bottom: none;
        }
    }

    h3 {
        color: $accentColor;
        max-width: 120px;
        margin-bottom: 20px;
    }

    p {
        max-width: 512px;
    }
}