.stages {

    .container {
        padding: 150px 0;
        position: relative;
    }

    .carousel-caption {
        color: $black;
    }
    
    .progressBarBg {
        width: 370%;
        height: 10px;
        background-color: #bdbdbd;
        position: absolute;
        left: 0;
        top: 185px;
    }

    .progressBar {
        height: 10px;
        width: 30%;
        position: absolute;
        left: 0;
        top: 185px;
        background-color: $yellow;
        transition: .3s;
    }

    linearGradient {
        stop {
            transition: .3s;

            &:first-child {
                stop-color: #bdbdbd;
            }

            &:last-child {
                stop-color: #bdbdbd;
            }
        }
    }

    &:first-child {
        stop-color: #F2C94C;
    }

    &:last-child {
        stop-color: #F29C4C;
    }
    

    .carousel-inner {
        .carousel-item {
            width: 33%;

            &.active + .carousel-item {
                display: block;
                transform: translateX(100%);
            }
        }
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 45px;
    height: 45px;

    &:after {
        content: "";
    }
}

.swiper-button-next {
    transform: scaleX(-1);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-wrapper {
    margin: 0 auto;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;

    &:last-child {
        width: 60%;
    }

    .swiperTitle {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        margin-top: 15px;
    }

    .header4 {
        margin-top: 10px;
    }
  }

  .swiper-pagination {
      display: none;
  }