.stages {
    position: relative;

    .container {
        padding: 150px 0;
        position: relative;
    }

    .header2 {
        margin-bottom: 100px;
    }

    .carousel-caption {
        color: $black;
    }
    
    .progressBarBg {
        width: 370%;
        height: 10px;
        background-color: #bdbdbd;
        position: absolute;
        left: 0;
        top: 185px;
    }

    .progressBar {
        height: 10px;
        width: 30%;
        position: absolute;
        left: 0;
        top: 185px;
        background-color: $yellow;
        transition: .3s;
    }

    linearGradient {
        stop {
            transition: .3s;

            &:first-child {
                stop-color: #bdbdbd;
            }

            &:last-child {
                stop-color: #bdbdbd;
            }
        }
    }

    &:first-child {
        stop-color: #F2C94C;
    }

    &:last-child {
        stop-color: #F29C4C;
    }
    

    .carousel-inner {
        .carousel-item {
            width: 33%;

            &.active + .carousel-item {
                display: block;
                transform: translateX(100%);
            }
        }
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 45px;
    height: 45px;

    &:after {
        content: "";
    }
}

.swiper-button-next {
    transform: scaleX(-1);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-wrapper {
    margin: 0 auto;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;

    &:last-child {
        width: 60%;
    }

    .swiperTitle {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        margin-top: 15px;
    }

    .header4 {
        margin-top: 10px;
    }
  }

  .swiper-pagination {
      display: none;
  }

  @media (max-width: 992px) {
      .stages {
        .container {
            padding-bottom: 50px;
        }

          .swiper-slide {
              width: 46%;
          }

          .progressBar {
              width: 36%;
          }

          .progressBarBg {
              width: 426%;
          }

          .swiper-container {
              max-width: none;
              width: 100%;
          }

          .swiper-wrapper {
            width: 100%;
        }

        .swiper-button-prev {
            display: none;
        }

        .swiper-button-next {
            display: none;
        }

          .swiper-pagination {
            display: block;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 320px;
            text-align: left;

            &-bullet {
                width: 14px;
                height: 14px;
                border-radius: 0;
                background: $gradient;

                &:not(:nth-last-child(2)) {
                    margin-right: 20px;
                }

                &:last-child {
                    display: none;
                }
            }
        }
      }
  }

  @media (max-width: 768px) {
      .stages {
          .swiper-slide {
              width: 88%;
          }

          .progressBar {
              width: 60%;
          }

          .progressBarBg {
              width: 808%;
          }
      }
  }

  @media (max-width: 576px) {
      .stages {
          .container {
              padding-right: 20px;
              padding-left: 20px;
          }
      }
  }

  @media (max-width: 460px) {
      .stages {
          .progressBarBg {
              width: 816%;
          }
          
          .progressBar {
              width: 70%;
          }
      }
  }

@media (max-width: 359px) {
    .stages {
        .swiperTitle {
            font-size: 18px;
        }

        .progressBar {
            width: 75%;
        }

        .header4 {
            font-size: 14px;
        }

        .swiper-pagination {
            max-width: 280px;
            
            &-bullet {
                &:not(:nth-last-child(2)) {
                    margin-right: 15.5px;
                }
            }
        }
    }
}