.warranty {
    background: url("../assets/warrantyBg.svg") no-repeat center / auto 100%;

    .warrantyMarkCont {
        position: relative;
        z-index: 0;

        img {
            position: absolute;
            top: 110%;
            right: 10%;
            z-index: -1;
            transform: scale(4);
        }
    }

    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .firstWarranty {
        max-width: 600px;
    }

    .hashtag-title {
        margin-bottom: 50px;
    }

    .pointsBlock {
        margin-bottom: 40px;
        margin-top: 31px;
        padding: 26px 31px 41px;
        border: 10px solid $red;
        background-color: $white;

        .subtitle {
            margin-bottom: 20px;
        }
    }

    .pointsList {

        li {
            display: flex;
            
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            .point {
                font-size: 41px;
                font-weight: 900;
                color: $green;
                min-width: 24px;
                text-align: center;
                display: inline-block;
                margin-right: 30px;
                position: relative;
                top: -12px; 
            }

            .descr {
                line-height: 1.25;

                span {
                    color: $green;
                }
            }
        }
    }

    .profilesBlock {
        .profilesList {
            margin-bottom: 59px;
            margin-top: 10px;

            li {
                padding-left: 32px;
                background: url('../assets/profilesFrame.svg') no-repeat left center;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                a {
                    border-bottom: 1px dashed $black;
                    display: inline;
                    transition: .3s;

                    &:hover {
                        color: $green;
                        border-bottom: 1px dashed $green;
                    }
                }
            }
        }
    }

    .shield {
        padding-left: 120px;
        background: url('../assets/warrantyShield.svg') no-repeat left center;

        span {
            color: $green;
        }
    }
}



@media (max-width: 1200px) {
    .warranty {
        .warrantyMarkCont {
            img {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .warranty {
        background: url("../assets/warrantyMobBg.svg") no-repeat top center / cover;

        .warrantyMarkCont {
            position: relative;
            z-index: 0;

            img {
                display: block;
                position: absolute;
                top: 100%;
                right: 0;
                z-index: -1;
                transform: scale(1);
            }
        }

        .container {
            padding-top: 50px;

            
        }

        .hashtag-title {
            margin-bottom: 40px;
        }

        .pointsBlock {
            margin-top: 90px;
            border: 5px solid $red;
            padding: 15px 16px 25px;

            .subtitle {
                margin-bottom: 10px;
            }
        }

        .listTitle {
            margin-bottom: 20px;
        }

        .pointsList {
            li {
                .point {
                    font-size: 24px;
                    min-width: 15px;
                    margin-right: 11px;
                    top: -5px;
                }
            }
        }

        .profilesBlock {
            .profilesList {
                li {
                    background: url('../assets/newLvlArrow.svg') no-repeat left 7px;
                    background-size: 8px 10px;
                    padding-left: 18px;
                }
            }
        }
        
        .shield {
            padding-left: 0;
            padding-top: 86px;
            background-position: left top;
            background-size: 65px 65px;

            span {
                color: $red;
            }
        }
    }
}