.welcomePage {
    background: url("../assets/welcomeBg.png") no-repeat center / cover;
    position: relative;

    .mobileWelcome {
        display: none;
    }

    .burger {
        display: none;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .forBg {
        background: rgba(79, 79, 79, 0.8);
    }

    .leftSide {
        color: white;
        width: 50%;
        position: relative;

        .desktopLogo {
            position: absolute;
            left: 0;
            top: 26px;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 130px;
        }

        .contacts {
            position: absolute;
            right: 0;
            padding: 29px 44px 23px 50px;
            background-color: #6F6F6F;
            text-align: right;

            .tel {
                font-size: 24px;
                color: #e0e0e0;
                margin-bottom: 5px;
                display: block;
                font-weight: 700;
                padding-left: 30px;
                background: url("../assets/welcomeTelIcon.svg") no-repeat left center;
                
                p {
                    position: relative;
                    transition: .3s;

                    &:after {
                        content: "";
                        position: absolute;
                        transition: .3s;
                        bottom: 6px;
                        width: 100%;
                        left: 0;
                        height: 1px;
                        background-color: #f2f2f2;
                        opacity: 0;
                    }
                }

                &:hover {
                    p {
                        color: #f2f2f2;
                        
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }

            .city {
                font-size: 18px;
                color: #f2f2f2;
                font-weight: 30;
            }
        }

        .header1 {
            margin-bottom: 20px;
        }

        .header4 {
            color: #27AE60;
            padding-left: 30px;
            background: url("../assets/leafBg.svg") no-repeat left center;
            margin-bottom: 10px;
            margin-top: 30px;
        }

        .header3 {
            line-height: 1.25;
        }

        span {
            color: $yellow;
        }

        .row {
            display: flex;
            flex-direction: column;
            max-width: 503px;
        }

        .buttons {
            display: flex;
        }

        .orderBtn {
            color: #333333;
            width: 263px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            z-index: 1;
            position: relative;

            &:after {
                position: absolute;
                z-index: -2;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                content: "";
                border-radius: 5px;
                background: $gradient;
            }

            &:before {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                content: "";
                border-radius: 5px;
                transition: .3s;
            }

            &:hover {
                &:before {
                    background: $yellow;
                    box-shadow: 0px 0px 10px #F2C94C;
                }
            }
        }

        .projectsBtn {
            border-radius: 5px;
            height: 50px;
            width: 165px;
            color: #f2f2f2;
            border: 2px solid #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;

            &:hover {
                background-color: #f2f2f2;
                color: #4f4f4f;
            }
        }
    }

    .headerNav {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        background-color: #f2f2f2;
        padding: 50px 30px 39px 31px;

        ul {
            max-width: 540px;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            font-size: 16px;
            
            li {
                border-bottom: 2px solid transparent;
                padding-bottom: 5px;
                transition: .3s;
                color: #333;

                &:hover {
                    a {
                        color: #333;
                    }
                    border-bottom: 2px solid $yellow;
                }
            }
        }
    }

    .rightSide {
        position: absolute;
        top: 120px;
        left: 50%;
        padding: 0;
        width: 50%;
        max-width: 952px;
        z-index: 1;

        .descr {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 16px;
            z-index: 999;
            padding: 30px 92px 20px 30px;
            background: rgba(255, 255, 255, 0.7);
            display: flex;
            
            .square {
                margin-right: 92px;
                position: relative;
                font-family: "Monserrat", sans-serif;
                font-weight: 700;
                font-size: 16px;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 32px;
                    font-weight: 300;
                    color: $black;
                }

                &:after {
                    position: absolute;
                    right: -47px;
                    content: "";
                    background-color: #4f4f4f;
                    height: 100%;
                    width: 1px;
                    top: 0;
                }
            }

            .price {
                font-family: "Monserrat", sans-serif;
                font-weight: 700;
                font-size: 16px;
                
                p {
                    font-size: 32px;
                    color: #219653;
                    font-weight: 30;
                    font-family: "Roboto", sans-serif;
                }
            }
        }

        .carousel-indicators {
            margin: 0;
            max-width: 430px;
            left: 27px;
            bottom: 120px;
            justify-content: space-between;

            li {
                height: 5px;
                width: calc(25% - 7px);
                margin: 0;
                opacity: 1;

                &.active {
                    background-color: $yellow;
                }
            }
        }
    }
}

@media (min-width: 993px) and (max-width: 1202px) {
    .welcomePage {
        .leftSide {
            .header1 {
                font-size: 48px;
            }

            .header3 {
                font-size: 21px;
            }

            .contacts {
                padding-left: 25px;
            }
        }

        .headerNav {
            padding-top: 51px;
            padding-bottom: 41px;

            ul {
                font-size: 14px;
            }
        }
    }
}


@keyframes mobArrowAnim {
    0% {
        top: -5px;
    }

    50% {
        top: 5px;
    }

    100% {
        top: -5px;
    }
}

@media (max-width: 992px) {
    .welcomePage {
        background-position: 62% center;

        .container {
            position: relative;
        }

        .burger {
            display: block;
            position: absolute;
            right: 20px;
            top: 10px;
            z-index: 1;
        }

        .rightSide {
            display: none;
        }

        .headerNav {
            display: none;
        }

        .mobileWelcome {
            display: flex;
            flex-direction: column;
            margin-bottom: 90px;

            img {
                &:first-child {
                    max-width: 256px;
                }

                &:last-child {
                    max-width: 84px;
                }
            }

            .mobileArrowBot {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                animation: mobArrowAnim 1s infinite;
            }

            .mobileLogo {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                margin-bottom: 50px;
            }
        }

        .leftSide {
            padding-top: 110px;
            padding-bottom: 150px;
            width: 100%;

            .contacts {
                display: none;
            }

            .desktopLogo {
                display: none;
            }

            .content {
                padding-top: 0;
            }

            .buttons {
                justify-content: space-between;

                .header3 {
                    font-size: 24px;    
                }

                .projectsBtn {
                    width: 100%;
                    max-width: 325px;
                }

                .orderBtn {
                    width: 100%;
                    max-width: 325px;
                    margin-bottom: 20px;
                }
            }

            .header4 {
                margin: 20px 0 30px;
            }

            .header1 {
                line-height: 1.1;
            }
        }
    }
}

@media (max-width: 768px) {
    .welcomePage {
        .leftSide {
            padding-bottom: 250px;
        }
    }
}

@media (max-width: 576px) {
    .welcomePage {
        .leftSide {
            padding-bottom: 289px;

            .buttons {
                flex-direction: column;
            }
        }

        .container {
            padding-right: 20px;
            padding-left: 20px;
        }

        .content {
            max-width: 325px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}