@charset "UTF-8";
.title {
  line-height: 0.75;
  font-size: 44px;
  text-transform: uppercase;
  font-family: 'Russo One';
}

.welcomePage {
  background-image: url(../assets/mainBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.welcomePage .container {
  height: 100vh;
  padding-top: 35px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.burger {
  position: fixed;
  top: 35px;
  left: calc((100vw - 1110px) / 2 + 1089px);
  z-index: 10;
}

.headerNav {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.logo {
  z-index: 7;
}

.navList {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  overflow-x: hidden;
  font-family: Intro;
  font-size: 20px;
  z-index: -5;
  padding: 100px 0;
  opacity: 0;
}

.navListVisible {
  z-index: 8;
  opacity: 1;
}

.navItem {
  text-shadow: 1.5px 2.598px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
  -webkit-transform: translateX(1400px);
          transform: translateX(1400px);
  -webkit-transition: .3s;
  transition: .3s;
}

.no-margin {
  margin-right: 0;
}

.navItem:hover {
  color: #75c8cc;
}

@-webkit-keyframes navItemAnim {
  from {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navItemAnim {
  from {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes navItemAnimOut {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
}

@keyframes navItemAnimOut {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
}

.gold {
  color: #75c8cc;
}

.navItem:last-child {
  margin-right: 0;
}

.main {
  margin-top: 30px;
}

.main h1 {
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'Russo One';
  letter-spacing: 5px;
  text-align: right;
  max-width: 700px;
}

.main h1 span {
  color: #75c8cc;
}

.main p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 45px;
  color: #d7d4d5;
}

.main .navLink {
  width: 234px;
  height: 45px;
  background-color: #fcfcfc;
  color: #010101;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  display: block;
  padding-top: 8px;
  margin-left: 50%;
  margin-right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .navLink:hover {
  background-color: #75c8cc;
}

.mainFooter {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts {
  font-weight: 300;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia img {
  margin-right: 20px;
}

.socialMedia img:last-child {
  margin-right: 0;
}

.shareIcon {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.shareIcon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mediaItem {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
  cursor: pointer;
}

.mediaItem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes mediaAnimIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mediaAnimIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mediaAnimOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mediaAnimOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.arrow {
  margin-right: auto;
  -webkit-animation: arrowAnim 1s alternate infinite;
          animation: arrowAnim 1s alternate infinite;
}

@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrowAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.shareIconPath {
  -webkit-transition: .2s;
  transition: .2s;
}

.burgerIcon {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

.crossIcon {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
  x: 8px;
}

.aboutUs {
  color: #222222;
  text-align: center;
  background: url(../assets/aboutUsBg.png) no-repeat;
  background-position: center 120px;
  padding-top: 90px;
  margin-bottom: 90px;
  position: relative;
  font-weight: bold;
  text-shadow: none;
}

.aboutUs h3 {
  font-size: 44px;
  font-family: Intro;
  margin-top: 15px;
}

.aboutUs .title {
  max-width: 800px;
  line-height: 1.2;
  margin: auto;
  font-family: Intro;
}

.aboutUs .sectionDescr {
  max-width: 400px;
  margin: 25px auto 50px;
  font-size: 24px;
  line-height: 1;
}

.aboutUs .sectionDescr p {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}

.aboutUs .yearStat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.1;
}

.aboutUs .yearStat li {
  max-width: 300px;
}

.aboutUs .yearStat .year {
  font-size: 36px;
  margin-bottom: 20px;
}

.problem {
  background: url("../assets/problemBg.png") no-repeat center/cover;
  background-color: rgba(89, 88, 88, 0.6);
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding: 90px 0 170px;
  text-align: center;
  position: relative;
}

.problem ul {
  margin-top: 70px;
  max-width: 700px;
  text-align: left;
  position: relative;
}

.problem ul .problemImg {
  position: absolute;
  left: 750px;
  top: 100px;
}

.problem ul .problemImg2 {
  position: absolute;
  left: -570px;
  top: -80px;
}

.problem ul:last-child {
  text-align: right;
  margin: 160px 0 0 400px;
}

.problem ul li:not(:last-child) {
  margin-bottom: 30px;
}

.problem ul li:first-child {
  margin-bottom: 50px;
}

.problem ul li .problemTitle {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: bold;
}

.problem ul li .problemDescr {
  font-size: 24px;
  line-height: 1.2;
}

.problem .secondTitle {
  margin-top: 150px;
}

.about {
  color: black;
  position: relative;
  padding: 90px 0;
  font-size: 24px;
  text-shadow: none;
  text-align: center;
}

.about ul {
  max-width: 700px;
  margin-top: 60px;
  text-align: left;
  position: relative;
}

.about ul img {
  position: absolute;
  left: 750px;
  top: 90px;
}

.about ul li:not(:last-child) {
  margin-bottom: 20px;
}

.images:hover {
  fill: red;
}

.audience {
  padding: 100px 0;
  text-align: center;
  color: black;
  text-shadow: none;
  font-size: 44px;
  font-family: Intro;
}

.audience ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.audience ul img {
  margin-bottom: 20px;
}

.analytics {
  padding: 90px 0;
  text-align: center;
  background: url("../assets/problemBg.png") no-repeat center/cover;
  background-color: rgba(89, 88, 88, 0.6);
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.analytics ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  font-size: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.analytics ul li {
  line-height: 1.7;
  font-family: Intro;
}

.analytics ul li p {
  font-size: 44px;
  line-height: 1.3;
  margin-bottom: 50px;
  height: 171px;
}

.monetization {
  margin-top: 150px;
}

.monetization .tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.monetization table {
  font-family: Roboto Condensed;
  width: 600px;
  font-size: 24px;
}

.monetization table tr:first-child th {
  font-size: 44px;
  font-family: Intro;
  height: 100px;
}

.monetization table th {
  font-size: 30px;
  text-align: center;
}

.monetization table td {
  width: 50%;
  height: 50px;
  text-align: center;
}

.future {
  padding: 90px 0 0;
  background: url("../assets/lastBg.png") no-repeat center/cover;
  color: black;
  text-shadow: none;
  text-align: center;
  font-size: 30px;
}

.future ul {
  margin-top: 60px;
}

.future ul li:not(:last-child) {
  margin-bottom: 50px;
}

.footer {
  padding: 20px 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 44px;
  color: white;
  font-family: Intro;
  margin-top: 100px;
}

.pros {
  background: url("../assets/problemBg.png") no-repeat center/cover;
  background-color: rgba(89, 88, 88, 0.6);
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding: 90px 0;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.pros .numbersContainer {
  position: relative;
}

.pros .numbersImages {
  position: absolute;
  height: 380px;
  max-width: 548px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  top: 50px;
  left: -200px;
}

.pros .numbersImages img {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1s;
  transition: 1s;
}

.pros .benefits {
  margin-top: 100px;
}

.pros .numbersList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 640px;
  margin-top: 50px;
  max-width: 700px;
  overflow-x: hidden;
  margin-left: 400px;
}

.pros .numbersList ul {
  position: absolute;
  text-align: right;
}

.pros .numbersList ul li:not(:last-child) {
  margin-bottom: 30px;
}

.pros #firstText li {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.pros #secondText li {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

.pros #thirdText li {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
  -webkit-transition: .5s;
  transition: .5s;
}

.pros #fourthText li {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
  -webkit-transition: .5s;
  transition: .5s;
}

.pros .insane {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

@-webkit-keyframes numbersAnimOutLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3000px);
            transform: translateX(-3000px);
  }
}

@keyframes numbersAnimOutLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3000px);
            transform: translateX(-3000px);
  }
}

@-webkit-keyframes numbersAnimOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}

@keyframes numbersAnimOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}

@-webkit-keyframes numbersAnimInRight {
  from {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes numbersAnimInRight {
  from {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes numbersAnimInLeft {
  from {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes numbersAnimInLeft {
  from {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.pros .svgImg {
  width: 59px;
  height: 59px;
  fill: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.pros .svgImg:not(:last-child) {
  margin-right: 70px;
}

.pros .svgImg:hover {
  fill: #75c8cc;
}

.pros .active {
  fill: #75c8cc;
}

.pros .benefits {
  text-align: center;
}

.pros .benefits .title {
  text-align: center;
  width: 1000px;
  -webkit-transition: .5s;
  transition: .5s;
}

.pros .benefits .benefitTexts {
  position: relative;
  height: 503px;
}

.pros .benefits .benefitTexts > div {
  position: absolute;
  margin-top: 35px;
  width: 100%;
}

.pros .benefits .benefitTexts > div ul {
  margin-top: 35px;
  text-align: left;
  max-width: 700px;
  overflow-x: hidden;
}

.pros .benefits .benefitTexts > div ul li:not(:last-child) {
  margin-bottom: 30px;
}

.pros .benefits .benefitTexts .secondBenefit li {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

.pros .benefits .benefitTexts .secondBenefit .title {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

.pros .benefits .benefitTexts .thirdBenefit li {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

.pros .benefits .benefitTexts .thirdBenefit .title {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

.pros .benefits .benefitTexts .fourthBenefit li {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

.pros .benefits .benefitTexts .fourthBenefit .title {
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
}

.pros .benefitsContainer {
  position: relative;
}

.pros .benefitsContainer .itemsImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  max-width: 514px;
  overflow-x: hidden;
  right: -200px;
  top: 110px;
}

.pros .benefitsContainer .itemsImages img {
  height: 380px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.pros .svgImages {
  margin-top: 50px;
}

.pros .svgItems {
  fill: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.pros .svgItems:not(:last-child) {
  margin-right: 70px;
}

.pros .svgItems:hover {
  fill: #75c8cc;
}

.pros .active {
  fill: #75c8cc;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* width и height включают в себя значения полей и границ */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* наследует от html */
  margin: 0;
  /* Убирает отступы по умолчанию */
}

body {
  overflow-x: hidden;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  min-width: 320px;
  /* body не адаптируется под ширину экрана менее 1000px */
  font-family: "Roboto condensed", sans-serif;
  /* основной шрифт */
  font-size: 16px;
  /* основной размер шрифта */
  line-height: 1.3;
  /* высота линии для всего документа */
  color: #fcfcfc;
  /* основной цвет шрифта */
  background-color: white;
  text-shadow: -1px 1px 2px black;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body.modal-active {
  overflow: hidden;
  /* скрывает лишнее */
}

img {
  max-width: 100%;
  /* растягивает картинку на всю ширину родительского элемента */
}

a {
  text-decoration: none;
  /* убирает подчеркивание ссылки */
  color: inherit;
  /* позволяет наследовать цвет шрифта от родительского элемента */
}

ul {
  list-style-type: none;
}

.visually-hidden {
  /* доступно скрывает элемент */
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  min-width: 320px;
  /* ширина основного контента */
  margin: 0 auto;
  padding: 0 20px;
  /* центрирование */
}

.containerSmall {
  max-width: 1030px;
  min-width: 320px;
  /* ширина основного контента */
  margin: 0 auto;
  padding: 0 20px;
  /* центрирование */
}

.clearfix:after {
  /* лечит нулевую высоту div при использовании параметра float */
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@font-face {
  font-family: Intro;
  src: url("Intro.otf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #75c8cc;
  border-radius: 8px;
  border: 2px solid #222222;
}

::-webkit-input-placeholder {
  color: white;
}
/*# sourceMappingURL=style.css.map */