@import "./variables";
@import "./welcomePage";
@import "./discount";
@import "./projects";
@import "./catalog";
@import "./features";
@import "./pros";
@import "./stages";
@import "./premium";
@import "./buyNow";
@import "./whyUs";
@import "./about";
@import "./reviews";
@import "./questions";
@import "./footer";

html {
    box-sizing: border-box; /* width и height включают в себя значения полей и границ */
}

*,
*::before,
*::after {
    box-sizing: inherit; /* наследует от html */
    margin: 0; /* Убирает отступы по умолчанию */
}

body {
    overflow-x: hidden;
    background-color: #fbfbfb;
    line-height: 1.5;
    font-weight: 400;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif; /* основной шрифт */
    color: #333;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%; /* растягивает картинку на всю ширину родительского элемента */
}

a {
    text-decoration: none; /* убирает подчеркивание ссылки */
    color: inherit; /* позволяет наследовать цвет шрифта от родительского элемента */
    transition: .3s;

    &:hover {
        text-decoration: none;
    }
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.header1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 52px;
    font-weight: 700;
}

.header2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.header3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.header4 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.medium {
    font-size: 48px;
}

.text {
    font-size: 24px;
}

.title {
    font-size: 84px;
}

@media (max-width: 992px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header2 {
        font-size: 24px;
    }

    .header3 {
        font-size: 18px;
    }

    .header4 {
        font-size: 16px;
    }
}

