@charset "UTF-8";
.navBar {
  z-index: 5;
  height: 486px;
  width: 286px;
  font-weight: 900;
  position: fixed;
  left: 0px;
  top: 25%;
  background-color: #ffc856;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-236px);
          transform: translateX(-236px);
}

.navBar .bruh {
  color: #fff;
  margin-left: 10px;
}

.navBar .sideNavContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 286px;
}

.navBar .sideNavContainer .navBarMenu {
  position: absolute;
  left: 40px;
  top: 40px;
  text-transform: uppercase;
  -webkit-transition: .6s;
  transition: .6s;
}

.navBar .sideNavContainer li:not(:nth-last-child(-n+2)) {
  margin-bottom: 5px;
}

.navBar .sideNavContainer li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .sideNavContainer li .navBarArrow span:hover {
  color: #007550;
}

.navBar .sideNavContainer li a {
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.navBar .sideNavContainer li a:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-left: 20px solid transparent;
  left: -40px;
  top: 1px;
  height: 10px;
  width: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navBar .sideNavContainer li a:hover {
  font-weight: 500;
}

.navBar .sideNavContainer li a:hover::after {
  border-left: 18px solid #007550;
  left: -30px;
}

.navBar p {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(-90deg) translateY(118px) translateX(-220px);
          transform: rotate(-90deg) translateY(118px) translateX(-220px);
  max-height: 50px;
  width: 300px;
  font-size: 18px;
  color: #007550;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar__expand {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navBarP__expand {
  opacity: 0;
}

.mobNavFixed {
  display: none;
}

.mobMenuList {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.mobMenuList__item {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 9;
  -webkit-transition: .5s;
  transition: .5s;
  left: 120vw;
}

.mobMenuList__item:first-child {
  height: calc(100% - 60px);
  top: 60px;
}

.mobMenuList .mainMenu {
  text-transform: uppercase;
  padding: 20px;
}

.mobMenuList .mainMenu .pagesList {
  margin-top: 25px;
  font-size: 20px;
  margin-bottom: 64px;
  color: #4f4f4f;
}

.mobMenuList .mainMenu .pagesList .active {
  display: inline-block;
  color: #001E20;
  font-weight: 500;
  border-bottom: 2px solid #001E20;
  border-top: 2px solid #001E20;
  padding-top: 2px;
}

.mobMenuList .mainMenu .pagesList li:not(:last-child) {
  margin-bottom: 15px;
}

.mobMenuList .mainMenu .toList {
  font-size: 18px;
  font-weight: 900;
}

.mobMenuList .mainMenu .toList li:not(:last-child) {
  margin-bottom: 15px;
}

.mobMenuList .mainMenu .toList li:nth-child(1) {
  color: #001E20;
}

.mobMenuList .mainMenu .toList li:nth-child(2) {
  color: #007550;
}

.mobMenuList .mainMenu .toList li:nth-child(3) {
  color: #ffc856;
}

.mobMenuList .mainMenu .toList li:nth-child(4) {
  color: #FF513F;
}

.mobMenuList .mainMenu .lkBtn {
  text-transform: none;
  font-size: 18px;
  color: #f2f2f2;
  padding: 7px 13px 9px;
  background: #001E20;
  border: 1px solid #001E20;
  position: relative;
  margin-top: 25px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.mobMenuList .mainMenu .lkBtn:after {
  width: calc(100% - 2px);
  position: absolute;
  left: 1px;
  bottom: 1px;
  content: "";
  background-color: #f2f2f2;
  height: 3px;
}

.mobMenuList .navMenu {
  background-color: #ffc856;
  z-index: 12;
  padding: 40px;
  color: #001E20;
  font-size: 18px;
}

.mobMenuList .navMenu .navList {
  text-transform: uppercase;
  margin-top: 40px;
}

.mobMenuList .navMenu .navList .active {
  font-weight: 600;
  position: relative;
}

.mobMenuList .navMenu .navList .active:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-left: 20px solid #007550;
  left: -28px;
  top: 1px;
  height: 21px;
  width: 19px;
}

.mobMenuList .navMenu .navList li:not(:last-child) {
  margin-bottom: 7px;
}

.mobMenuList .navMenu .navList li a:hover {
  color: #001E20;
}

.mobMenuList .navMenu .menuBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobMenuList .navMenu .menuBtns .cross {
  position: relative;
  right: -20px;
  top: -20px;
}

.mobMenuList .courses {
  background-color: #007550;
  z-index: 12;
  padding: 40px;
  color: #fff;
  font-size: 18px;
}

.mobMenuList .courses .menuTitle {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
}

.mobMenuList .courses .coursesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobMenuList .courses .coursesList li a {
  border-bottom: 1px dashed #fff;
}

.mobMenuList .courses .coursesList li a:hover {
  color: #fff;
}

.mobMenuList .courses .coursesList li:not(:last-child) {
  margin-bottom: 10px;
}

.mobMenuList .courses .menuBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobMenuList .courses .menuBtns .menuArrowBack {
  position: relative;
  left: -20px;
  top: -20px;
}

.mobMenuList .courses .menuBtns .cross {
  position: relative;
  right: -20px;
  top: -20px;
}

.mobMenuList .services {
  background-color: #001E20;
  z-index: 12;
  padding: 40px;
  color: #fff;
  font-size: 18px;
}

.mobMenuList .services .menuTitle {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
}

.mobMenuList .services .servicesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobMenuList .services .servicesList li {
  max-width: 250px;
}

.mobMenuList .services .servicesList li a {
  border-bottom: 1px dashed #fff;
}

.mobMenuList .services .servicesList li a:hover {
  color: #fff;
}

.mobMenuList .services .servicesList li:not(:last-child) {
  margin-bottom: 10px;
}

.mobMenuList .services .menuBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobMenuList .services .menuBtns .menuArrowBack {
  position: relative;
  left: -20px;
  top: -20px;
}

.mobMenuList .services .menuBtns .cross {
  position: relative;
  right: -20px;
  top: -20px;
}

.mobMenuList .contactsMenu {
  background-color: #fff;
  z-index: 12;
  padding: 40px;
  color: #4f4f4f;
  font-size: 18px;
}

.mobMenuList .contactsMenu .menuTitle {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 25px;
  color: #FF513F;
}

.mobMenuList .contactsMenu a {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

.mobMenuList .contactsMenu a:hover {
  color: inherit;
}

.mobMenuList .contactsMenu a:first-child {
  margin-bottom: 0;
  font-size: 28px;
}

.mobMenuList .contactsMenu .menuBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobMenuList .contactsMenu .menuBtns .menuArrowBack {
  position: relative;
  left: -20px;
  top: -20px;
}

.mobMenuList .contactsMenu .menuBtns .cross {
  position: relative;
  right: -20px;
  top: -20px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 7;
}

.header .container {
  z-index: 6;
}

.header__logo {
  width: 116px;
  height: 36px;
}

.header .burger {
  display: none;
  z-index: 8;
}

.header .rotateRight {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header .rotateLeft {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header .burgerExpand {
  opacity: 0;
}

.header rect {
  -webkit-transition: .3s;
  transition: .3s;
}

.header .container {
  padding-top: 19px;
  padding-bottom: 19px;
}

.header .tel {
  font-size: 20px;
  font-weight: 500;
  padding-left: 26px;
  background: url("../assets/tel.svg") no-repeat left center;
  margin-right: 32px;
  color: #4f4f4f;
}

.header .tel a {
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px dashed transparent;
}

.header .tel a:hover {
  color: #001E20;
  border-bottom: 2px dashed #001E20;
  font-weight: 600;
}

.header .lkBtn {
  padding: 6px 12px 9px;
  border: 1px solid #001E20;
  position: relative;
}

.header .lkBtn:hover {
  color: #fff;
}

.header .lkBtn:hover::before {
  height: 100%;
}

.header .lkBtn:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0px;
  background-color: #001E20;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .lkBtn:before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0px;
  background-color: #001E20;
  -webkit-transition: .4s;
  transition: .4s;
}

.navContainer {
  color: #BDBDBD;
  background-color: #001E20;
  padding: 15px 0;
}

.navContainer li:not(:last-child) {
  margin-right: 58px;
}

.navContainer a {
  padding: 5px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.navContainer a:hover {
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.welcomePage {
  padding: 120px 0 95px;
  background: url("../assets/welcomeBg.svg") no-repeat center center;
  background-size: auto 100%;
  margin-top: 135px;
}

.welcomePage .mobileTitle {
  display: none;
}

.welcomePage .desktopTitle {
  display: block;
}

.welcomePage .welcomeSubtitle {
  display: none;
}

.welcomePage .hashtag-title {
  text-transform: uppercase;
  margin-bottom: 35px;
  max-width: 600px;
}

.welcomePage .features__item {
  padding: 0;
}

.welcomePage .features__item:nth-last-child(-n+2) .features__subtitle {
  color: #FF513F;
}

.welcomePage img {
  max-width: 165px;
  max-height: 92px;
}

.welcomePage .features__title {
  max-width: 195px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10px;
}

.welcomePage .features__subtitle {
  font-size: 18px;
  color: #007550;
  font-weight: 900;
  text-transform: uppercase;
}

.welcomePage .features__subtitle:first-child {
  color: #FF513F;
}

.welcomePage .comment {
  margin-top: 20px;
}

@media (max-width: 359px) {
  .welcomePage .features__title {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .welcomePage .hashtag-title {
    max-width: 350px;
  }
}

@media (min-width: 769px) {
  .mobMenuList {
    display: none;
  }
  .welcomePage .desktopTitle {
    display: none;
  }
  .welcomePage .mobileTitle {
    display: block;
  }
}

@media (max-width: 992px) {
  .welcomePage .hashtag-title {
    margin-bottom: 10px;
    font-size: 54px;
    line-height: 1.24;
    max-width: 490px;
  }
}

@media (max-width: 768px) {
  .welcomePage .hashtag-title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 1.24;
    max-width: 350px;
  }
  .welcomePage .features__item:nth-child(even) * {
    position: relative;
    left: 10px;
  }
}

@media (max-width: 1250px) {
  .mobNavFixed {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 4;
  }
  .navBar {
    display: none;
  }
  .header .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header .container .header__logo {
    width: 100px;
    height: 30px;
  }
  .header .burger {
    justify-self: flex-end;
  }
  .header .tel {
    display: none;
  }
  .header .lkBtn {
    display: none;
  }
  .header .navContainer {
    display: none;
  }
  .header .burger {
    display: block;
  }
  .welcomePage {
    background: url("../assets/welcomeMobBg.svg") no-repeat right top/cover;
    padding: 60px 0;
    margin-top: 60px;
  }
  .welcomePage .features__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 21px;
  }
  .welcomePage .welcomeSubtitle {
    line-height: 1.4;
    display: inline-block;
    color: #007550;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 38px;
  }
  .welcomePage .features__title {
    max-width: 150px;
    margin-right: 0;
    line-height: 1.25;
  }
  .welcomePage .features__title:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcomePage .features__subtitle {
    line-height: 1.22;
  }
  .welcomePage .comment {
    margin-top: 42px;
    line-height: 1.12;
  }
}

@media (max-width: 758px) {
  .newLvl .intro .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 359px) {
  .welcomePage .features img {
    max-width: 120px;
  }
  .welcomePage .features__title {
    max-width: 130px;
  }
  .welcomePage .hashtag-title {
    font-size: 31px;
    max-width: 290px;
  }
}

.newLvl {
  background: url("../assets/newLvlBg.png") no-repeat center center;
  background-size: auto 100%;
  position: relative;
}

.newLvl .sub__mobile {
  display: none;
}

.newLvl .sub__desktop {
  display: block;
}

.newLvl .col-12 {
  padding: 0;
}

.newLvl .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.newLvl .intro .container {
  padding-bottom: 0;
}

.newLvl .secondContainer {
  padding-top: 0;
  padding-bottom: 192px;
}

.newLvl .hashtag-title {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.newLvl .hashtag-title span {
  color: #007550;
}

.newLvl p {
  max-width: 682px;
}

.newLvl p:not(:last-child) {
  margin-bottom: 20px;
}

.newLvl p span {
  color: #007550;
}

.newLvl .define {
  margin-top: 40px;
}

.newLvl .define__item {
  padding-left: 20px;
  background: url("../assets/newLvlArrow.svg") no-repeat left 5px;
}

.newLvl .define__item:not(:last-child) {
  margin-bottom: 8px;
}

.newLvl .define__item span {
  font-weight: 700;
}

.newLvl .comment {
  display: block;
  color: #007550;
  margin-top: 75px;
  position: absolute;
  font-size: 18px;
  top: 690px;
  right: calc(1140px + ((100vw - 1470px) / 2));
}

.results {
  background: url("../assets/resultsBg.svg") no-repeat center center;
  background-size: auto 100%;
}

.results #moreResultsBtn {
  z-index: 1;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 14px 35px 16px;
  color: #001E20;
  position: relative;
}

.results #moreResultsBtn:hover {
  color: #fff;
}

.results #moreResultsBtn:hover:before {
  height: 100%;
}

.results #moreResultsBtn:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  left: 0;
  bottom: 0px;
  background-color: #ffc856;
}

.results #moreResultsBtn:before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 0px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 6px solid #001E20;
  background-color: #001E20;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.results .container {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

.results .container .hashtag-title {
  margin-bottom: 50px;
}

.results .container .subtitle {
  margin-bottom: 10px;
}

.results .container .resultsList {
  margin-top: 30px;
  margin-bottom: 60px;
}

.results .container .resultsList .col-12 {
  padding: 0;
}

.results .container .resultsList__item:not(:last-child) {
  margin-bottom: 30px;
}

.results .container .resultsList__item .personContainer {
  background-color: #001E20;
  padding: 20px 20px 30px;
  text-transform: uppercase;
}

.results .container .resultsList__item .person .ava {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-right: 28px;
  margin-bottom: 25px;
}

.results .container .resultsList__item .person .ava .avaBorder {
  background: url("../assets/avaBorder.svg") no-repeat center;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 1;
}

.results .container .resultsList__item .person .ava img {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.results .container .resultsList__item .person .prof {
  font-size: 14px;
  margin-left: 30px;
  letter-spacing: .3px;
  padding: 0;
  margin: 0;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.results .container .resultsList__item .person .prof p {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.results .container .resultsList__item .person .achiev {
  margin-left: 47px;
  font-size: 14px;
  line-height: 1;
  padding-left: 17px;
  padding: 0;
  margin: 0;
}

.results .container .resultsList__item .person .achiev p {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1;
}

.results .container .resultsList__item .person .vkLink {
  position: relative;
  left: 10px;
  margin-right: 20px;
}

.results .container .resultsList__item .review {
  background-color: #fff;
  color: black;
  padding: 20px;
  position: relative;
}

.results .container .resultsList__item .review .text {
  line-height: 1.1;
}

.results .container .resultsList__item .review a {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #4F4F4F;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-bottom: 0px;
  background: url("../assets/arrowRight.svg") no-repeat right center;
  border-bottom: 1px dashed #4F4F4F;
  -webkit-transition: .3s;
  transition: .3s;
}

.results .container .resultsList__item .review a:hover {
  color: #001E20;
  font-weight: 500;
}

/*768*/
@media (max-width: 1250px) {
  .newLvl {
    background: #ffc856;
    position: relative;
  }
  .newLvl .comment {
    position: absolute;
    right: 6%;
    top: 350px;
    font-size: 12px;
  }
  .newLvl .define__item {
    background-size: 8px 10px;
    line-height: 1.16;
  }
  .newLvl .define__item:not(:last-child) {
    margin-bottom: 13px;
  }
  .newLvl .problem {
    line-height: 1.25;
  }
  .newLvl .hashtag-title {
    margin-bottom: 20px;
  }
  .newLvl .intro {
    line-height: 1.25;
    background: #FDD762;
  }
  .newLvl .intro .subtitle {
    font-weight: 700;
  }
  .newLvl .intro .container {
    padding-bottom: 40px;
    padding-top: 50px;
    background: url("../assets/introMobBg.svg") no-repeat center left;
    background-size: auto 100%;
  }
  .newLvl .intro .sub__mobile {
    display: block;
  }
  .newLvl .intro .sub__desktop {
    display: none;
  }
  .newLvl .container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 96px;
  }
  .newLvl .row .col-12 {
    padding: 0;
  }
}

@media (max-width: 1200px) and (min-width: 993px) {
  .results .container .resultsList__item .person .ava {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-right: 10px;
  }
  .results .container .resultsList__item .person .prof {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .results .container .resultsList__item .person .prof .name {
    font-size: 20px;
  }
  .results .container .resultsList__item .person .achiev {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .results .container .resultsList__item .person .achiev p {
    font-size: 28px;
  }
  .results .container .resultsList__item .review .text {
    font-size: 16px;
  }
  .results .container .resultsList__item .review a {
    font-weight: 500;
  }
}

@media (max-width: 992px) {
  .resultsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resultsList__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .newLvl .comment {
    position: absolute;
    right: 6%;
    top: 243px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .results {
    background: url("../assets/resultsMobBg.svg") no-repeat center/cover;
    line-height: 1.25;
  }
  .results #moreResultsBtn {
    font-size: 16px;
    padding: 14px 30px 15px;
  }
  .results .container {
    padding-top: 50px;
  }
  .results .container .hashtag-title {
    margin-bottom: 20px;
  }
  .results .container .col-12 {
    padding: 0;
  }
  .results .container .resultsList {
    margin-top: 50px;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .results .container .resultsList__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .results .container .resultsList__item .personContainer {
    padding: 10px 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .results .container .resultsList__item .person {
    max-width: 288px;
  }
  .results .container .resultsList__item .person .ava {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-bottom: 10px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-right: 10px;
  }
  .results .container .resultsList__item .person .prof {
    font-size: 12px;
    max-height: 37px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    top: 1px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .results .container .resultsList__item .person .prof .name {
    font-size: 18px;
    letter-spacing: normal;
  }
  .results .container .resultsList__item .person .vkLink {
    width: 37px;
    height: 37px;
    margin-right: 10px;
    left: 0;
  }
  .results .container .resultsList__item .person .achiev {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 200px;
    max-height: 80px;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .results .container .resultsList__item .person .achiev p {
    font-size: 30px;
    margin-top: 2px;
  }
  .results .container .resultsList__item .person .break {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 0;
  }
  .results .container .resultsList__item .review {
    padding-bottom: 75px;
    position: relative;
  }
  .results .container .resultsList__item .review a {
    font-size: 18px;
    padding-right: 17px;
    font-weight: 500;
    color: #333;
    text-transform: none;
    bottom: 30px;
    right: 20px;
    display: inline;
  }
}

@media (max-width: 359px) {
  .newLvl .container {
    padding-bottom: 60px;
  }
  .results .container {
    padding-bottom: 60px;
  }
  .results .container .resultsList {
    margin-top: 40px;
  }
  .results .container .resultsList__item .personContainer {
    padding-bottom: 10px;
  }
  .results .container .resultsList__item .person .ava {
    -webkit-transform: scale(0.8) translateX(-10px);
            transform: scale(0.8) translateX(-10px);
  }
  .results .container .resultsList__item .person .achiev {
    margin-left: 0;
  }
  .results .container .resultsList__item .person .achiev p {
    font-size: 25px;
  }
  .results .container .resultsList__item .person .prof {
    top: -1px;
  }
  .results .container .resultsList__item .person .prof .name {
    font-size: 16px;
  }
  .results .container .resultsList__item .person .vkLink {
    height: 30px;
    width: 30px;
  }
  .results .container .resultsList__item .review {
    padding-bottom: 60px;
  }
  .results .container .resultsList__item .review a {
    font-size: 14px;
    bottom: 20px;
  }
  .results #moreResultsBtn {
    font-size: 12px;
    padding-top: 12px;
  }
}

.footer {
  background-color: #001E20;
  color: #BDBDBD;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.footer a:hover {
  color: #fff;
}

.footer__header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  color: #e0e0e0;
  letter-spacing: 0.5px;
  margin-bottom: 17px;
}

.footer__items {
  font-weight: 500;
  line-height: 1.7;
}

.footer .container {
  padding: 40px 0;
  line-height: 1.3;
}

.footer .container .contacts {
  color: #e0e0e0;
  margin-bottom: 10px;
}

.footer .container .requis {
  margin-bottom: 10px;
}

.footer .container .docs a {
  line-height: 1.6;
  border-bottom: 1px dashed #e0e0e0;
}

.footer .container .upBtn {
  display: none;
}

.footer .container .lkBtn {
  margin-top: 8px;
  display: inline-block;
  z-index: 2;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 9px 13px 12px;
  position: relative;
}

.footer .container .lkBtn:hover {
  color: #001E20;
}

.footer .container .lkBtn:hover:before {
  height: 100%;
}

.footer .container .lkBtn:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  left: 0;
  bottom: 0px;
  border: 1px solid #fff;
}

.footer .container .lkBtn:before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 0px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 4px solid #fff;
  background-color: #fff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.footer__logo {
  width: 67px;
  height: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .footer .container {
    padding: 20px 20px 70px 5px;
  }
  .footer .row .col-3:nth-last-child(-n+3), .footer .row .footer__logo, .footer .row .lkBtn {
    display: none;
  }
  .footer .row .contacts {
    font-size: 1px;
    opacity: 0;
    margin-bottom: 10px;
  }
  .footer .row .requis {
    color: #828282;
    font-size: 18px;
  }
  .footer .row .docs {
    font-size: 16px;
    color: #bdbdbd;
  }
  .footer .row .upBtn {
    display: block;
    margin-top: 8px;
    display: inline-block;
    z-index: 1;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 10px 45px 12px;
    position: relative;
    margin-top: 25px;
  }
  .footer .row .upBtn:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    left: 0;
    bottom: 0px;
    border: 1px solid #fff;
    border-bottom: 4px solid #fff;
  }
}

.price {
  background: url("../assets/priceBg.svg") no-repeat center/auto 100% #ffc856;
}

.price .col-9 {
  padding: 0;
}

.price .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.price .container .rulesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 58px;
}

.price .container .rulesList__item:not(:last-child) {
  margin-bottom: 20px;
}

.price .container .rulesList__item .point {
  font-size: 41px;
  font-weight: 900;
  line-height: 0.75;
  margin-right: 25px;
}

.price .container .rulesList__item .text {
  line-height: 0.9;
}

.price .container .rulesList__item .text span {
  color: #007550;
}

.price .container .sale {
  margin-top: 82px;
  margin-bottom: 50px;
}

.price .container .sale span {
  color: #007550;
}

.price .container .cardsList {
  text-transform: uppercase;
}

.price .container .cardsList .row:first-child li:nth-child(1) .cardPrice {
  margin-bottom: 64px;
}

.price .container .cardsList .row:first-child li:nth-child(2) {
  background: url("../assets/warrantyIcon.svg") no-repeat 84% 28% #fff;
}

.price .container .cardsList .row:last-child li:nth-child(1) {
  background: url("../assets/oneGiftIcon.svg") no-repeat 86% 25% #001E20;
  border: 10px solid #007550;
  color: #fff;
  padding: 25px 20px 20px;
}

.price .container .cardsList .row:last-child li:nth-child(1) .cardHeader {
  color: #f2f2f2;
}

.price .container .cardsList .row:last-child li:nth-child(1) .cardPrice {
  color: #fff;
}

.price .container .cardsList .row:last-child li:nth-child(1) .gift {
  margin-bottom: 12px;
}

.price .container .cardsList .row:last-child li:nth-child(2) {
  background: url("../assets/threeGiftsIcon.svg") no-repeat 85% 24% #001E20;
  border: 10px solid #FF513F;
  color: #fff;
  padding: 25px 20px 20px;
}

.price .container .cardsList .row:last-child li:nth-child(2) .cardHeader {
  color: #f2f2f2;
}

.price .container .cardsList .row:last-child li:nth-child(2) .cardPrice {
  color: #fff;
}

.price .container .cardsList .row:last-child li:nth-child(2) .gift {
  margin-bottom: 12px;
}

.price .container .cardsList li {
  background-color: #fff;
  padding: 35px 30px 30px;
  max-width: 458px;
  max-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price .container .cardsList li path {
  -webkit-transition: .3s;
  transition: .3s;
}

.price .container .cardsList li svg:hover path {
  fill: #007550;
}

.price .container .cardsList li:nth-child(odd) {
  margin-right: 30px;
}

.price .container .cardsList li:nth-child(-n+2) {
  margin-bottom: 30px;
}

.price .container .cardsList .cardHeader {
  color: #333;
  font-weight: 900;
  font-size: 24px;
}

.price .container .cardsList .cardPrice {
  color: #007550;
  font-size: 40px;
  margin-bottom: 14px;
}

.price .container .cardsList .gift {
  text-transform: none;
  margin-bottom: 15px;
}

.price .container .cardsList .gift span {
  border-bottom: 2px dotted #001E20;
}

.price .container .cardsList .chooseOptionBtn {
  justify-self: flex-end;
  display: block;
  text-align: center;
  color: #fff;
  z-index: 1;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 59px;
  position: relative;
}

.price .container .cardsList .chooseOptionBtn:hover:before {
  height: 100%;
}

.price .container .cardsList .chooseOptionBtn:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  left: 0;
  bottom: 0px;
  background-color: #FF513F;
}

.price .container .cardsList .chooseOptionBtn:before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 0px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 6px solid #D61400;
  background-color: #D61400;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@media (max-width: 768px) {
  .price {
    background: #ffc856;
  }
  .price .container {
    padding-top: 50px;
  }
  .price .container .rulesList {
    margin-top: 40px;
  }
  .price .container .rulesList__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .price .container .rulesList__item .text {
    line-height: 1.1;
  }
  .price .container .rulesList__item .text span {
    color: #FF513F;
  }
  .price .container .rulesList__item .point {
    font-size: 36px;
    min-width: 30px;
    display: block;
    text-align: center;
    margin-right: 10px;
    line-height: 0.8;
    position: relative;
  }
  .price .container .sale {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .price .container .cardsList {
    padding: 0;
  }
  .price .container .cardsList .row:last-child li:last-child {
    margin-bottom: 0;
    padding: 20px 12px 20px;
    background-position: 96% 40%;
    background-size: 27% 27%;
  }
  .price .container .cardsList .row:last-child li:nth-child(1) {
    background-position: 96% 40%;
    padding: 20px 11px 20px;
  }
  .price .container .cardsList .row:first-child li:nth-child(2) {
    background-position: 94% 40%;
  }
  .price .container .cardsList .row:first-child li:first-child .cardPrice {
    margin-bottom: 60px;
  }
  .price .container .cardsList li {
    padding: 30px 20px 20px;
    margin-bottom: 20px;
    max-width: none;
  }
  .price .container .cardsList li:nth-child(odd) {
    margin-right: 0;
  }
  .price .container .cardsList li .cardPrice {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 28px;
  }
  .price .container .cardsList .gift {
    margin-bottom: 10px;
  }
  .price .container .cardsList .gift span {
    border: none;
  }
  .price .container .cardsList .chooseOptionBtn {
    font-size: 16px;
    padding: 13px 14px 13px;
  }
}

@media (max-width: 359px) {
  .price .container {
    padding-bottom: 60px;
  }
  .price .container .sale {
    margin-top: 40px;
  }
  .price .container .cardsList .row:last-child li:last-child {
    background-position: 96% 35%;
  }
  .price .container .cardsList .row:last-child li:first-child {
    background-position: 96% 35%;
    background-size: 25% 25%;
  }
  .price .container .cardsList .row:first-child li:last-child {
    background-size: 30% 30%;
  }
  .price .container .cardsList li .cardPrice {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .price .container .cardsList li .cardHeader {
    font-size: 20px;
  }
  .price .container .cardsList li .gift {
    font-size: 14px;
  }
  .price .container .cardsList .chooseOptionBtn {
    font-size: 12px;
  }
}

.education {
  background: url("../assets/educationBg.svg") no-repeat calc(100vw - 420px - (100vw - 1140px) / 2) 238px;
  line-height: 1.25;
}

.education .container {
  padding-top: 100px;
  padding-bottom: 0;
}

.education .subtitle {
  margin-bottom: 30px;
}

.education .hashtag-title {
  margin-bottom: 50px;
}

.education .title {
  margin-bottom: 30px;
}

.education .text {
  margin-bottom: 28px;
  line-height: 1.2;
}

.education .text p:not(:last-child) {
  margin-bottom: 20px;
}

.education .marketText {
  margin-bottom: 60px;
}

.education .redBlock {
  padding: 15px 35px;
  border: 5px solid #FF513F;
  margin-bottom: 55px;
}

.education .profsList {
  padding: 0;
  margin-bottom: 150px;
}

.education .profsList li {
  height: 304px;
  width: 360px;
  padding-top: 149px;
  padding-bottom: 55px;
  position: relative;
  text-align: center;
  background: url("../assets/profsBg1.svg") no-repeat center/cover;
  max-width: 360px;
  color: #fff;
  line-height: 1.15;
}

.education .profsList li:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.education .profsList li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.education .profsList li .profTitle {
  font-weight: 900;
  margin-bottom: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  font-size: 18px;
}

.education .profsList li .profDescr {
  color: #fff;
  line-height: 1.25;
  font-size: 14px;
}

.education .profsList li a {
  position: absolute;
  height: 50px;
  background-color: #001E20;
  color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  border: 2px solid #001E20;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 500;
}

.education .profsList li a:hover {
  color: #001E20;
  background-color: #fff;
  border: 2px solid #001E20;
}

.education .profsList li:nth-child(2) {
  background: url("../assets/profsBg2.svg") no-repeat center/cover;
}

.education .profsList li:nth-child(3) {
  background: url("../assets/profsBg3.svg") no-repeat center/cover;
}

.education .profsList li:nth-child(4) {
  background: url("../assets/profsBg4.svg") no-repeat center/cover;
}

.education .profsList li:nth-child(5) {
  background: url("../assets/profsBg5.svg") no-repeat center/cover;
  padding-top: 138px;
}

.education .profsList li:nth-child(5) .profTitle {
  margin-bottom: 3px;
}

.education .profsList li:nth-child(6) {
  background: url("../assets/profsBg6.svg") no-repeat center/cover;
}

.education .profsList li:nth-child(6) a {
  background-color: #ffc856;
  border: 2px solid transparent;
  color: #001E20;
  font-weight: 500;
}

.education .profsList li:nth-child(6) a:hover {
  color: #001E20;
  background-color: #fff;
  border: 2px solid #001E20;
}

.education .profsList li:nth-child(7) {
  background: url("../assets/profsBg7.svg") no-repeat center/cover;
}

.education .profsList li:nth-child(7) a {
  background-color: #ffc856;
  border: 2px solid transparent;
  color: #001E20;
}

.education .profsList li:nth-child(7) a:hover {
  color: #001E20;
  background-color: #fff;
  border: 2px solid #001E20;
}

.education .profsList li:nth-child(8) {
  background: url("../assets/profsBg8.svg") no-repeat center/cover;
}

.education .profsList li:nth-child(8) a {
  background-color: #ffc856;
  border: 2px solid transparent;
  color: #001E20;
}

.education .profsList li:nth-child(8) a:hover {
  color: #001E20;
  background-color: #fff;
  border: 2px solid #001E20;
}

.education .profsList .black {
  color: #001E20;
}

.education .profsList .black .profDescr {
  color: #4f4f4f;
}

.education .marketProfs li:not(:nth-child(3n)) {
  margin-bottom: 0;
}

.education .marketProfs li:nth-child(1) {
  background: url("../assets/marketProfBg1.svg") no-repeat center/cover;
}

.education .marketProfs li:nth-child(1) a {
  background-color: #ffc856;
  border: 2px solid transparent;
  color: #001E20;
}

.education .marketProfs li:nth-child(1) a:hover {
  color: #001E20;
  background-color: #fff;
  border: 2px solid #001E20;
}

.education .marketProfs li:nth-child(2) {
  background: url("../assets/marketProfBg2.png") no-repeat center/cover;
}

.education .marketProfs li:nth-child(2) a {
  background-color: #ffc856;
  border: 2px solid transparent;
  color: #001E20;
}

.education .marketProfs li:nth-child(2) a:hover {
  color: #001E20;
  background-color: #fff;
  border: 2px solid #001E20;
}

.education .marketProfs li:nth-child(3) {
  background: url("../assets/marketProfBg3.svg") no-repeat center/cover;
  padding-top: 160px;
}

.education .marketProfs li:nth-child(3) .profTitle {
  margin-bottom: 22px;
}

.education .personProfs li:nth-child(1) {
  background: url("../assets/personProfBg1.svg") no-repeat center/cover;
}

.education .personProfs li:nth-child(2) {
  background: url("../assets/personProfBg2.svg") no-repeat center/cover;
}

@media (max-width: 576px) {
  .education .profsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .education .profsList li:not(:nth-child(3n)) {
    margin-right: 0;
  }
}

.featuresPage .container {
  padding-bottom: 103px;
}

.featuresPage .subtitle {
  margin-bottom: 30px;
}

.featuresPage .featuresList {
  padding: 0;
}

.featuresPage .featuresList li {
  background-color: #001E20;
  color: #fff;
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuresPage .featuresList li .point {
  font-size: 102px;
  font-weight: 900;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuresPage .featuresList li .title {
  font-size: 24px;
  font-weight: 900;
  max-width: 330px;
  text-transform: uppercase;
  max-height: 80px;
  line-height: 1.2;
}

.featuresPage .featuresList li .descr {
  margin-top: 20px;
}

.featuresPage .featuresList li:nth-child(odd) {
  background: url("../assets/coursesFeatureBg1.svg") no-repeat center/cover;
  color: #001E20;
}

.featuresPage a {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 35px 16px;
  position: relative;
  font-weight: 700;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 57px;
}

.featuresPage a:hover:before {
  height: 100%;
}

.featuresPage a:after {
  position: absolute;
  content: "";
  background-color: #FF513F;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.featuresPage a:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 6px;
  left: 0;
  background-color: #D61400;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.allIn {
  background: url("../assets/allInBg.svg") no-repeat center/auto 100%;
  color: #fff;
  line-height: 1.35;
}

.allIn .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.allIn .hashtag-title span {
  color: #ffc856;
}

.allIn .title {
  margin-top: 52px;
  margin-bottom: 18px;
  max-width: 689px;
}

.allIn .descr {
  color: #bdbdbd;
}

.allIn .extra {
  border: 10px solid #FF513F;
  margin-top: 56px;
  padding: 10px 30px;
}

.allIn .extra span {
  color: #ffc856;
}

@media (max-width: 1200px) {
  .allIn .title {
    margin-top: 40px;
  }
  .allIn .container {
    padding-top: 50px;
  }
  .allIn .extra {
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
  .allIn {
    background: url("../assets/allInMobBg.svg") no-repeat center/cover;
  }
  .allIn .extra {
    border: 5px solid #FF513F;
    margin-top: 40px;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .allIn .descr {
    max-width: 270px;
  }
  .allIn .extra {
    border: 5px solid #FF513F;
    margin-top: 40px;
    padding: 15px;
  }
}

.roadMap {
  background: url("../assets/roadMapBg.svg") no-repeat center/auto 100%;
  color: #fff;
}

.roadMap .mobTitle {
  display: none;
}

.roadMap .desktopTitle {
  display: block;
}

.roadMap .hashtag-title {
  margin-bottom: 50px;
}

.roadMap .title {
  margin-bottom: 40px;
  color: #ffc856;
  max-width: 720px;
}

.roadMap .text {
  max-width: 652px;
}

.roadMap .text p:not(:last-child) {
  margin-bottom: 10px;
}

.roadMap .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  .roadMap {
    background: url("../assets/roadMapMobBg.svg") no-repeat 70% center/auto 100% #007550;
  }
  .roadMap .text {
    max-width: 62vw;
    line-height: 1.25;
  }
}

@media (max-width: 576px) {
  .roadMap .container {
    padding-top: 50px;
  }
  .roadMap .hashtag-title {
    margin-bottom: 40px;
  }
  .roadMap .mobTitle {
    display: block;
  }
  .roadMap .desktopTitle {
    display: none;
  }
  .roadMap .title {
    margin-bottom: 20px;
    line-height: 1.4;
  }
  .roadMap .text {
    max-width: 62vw;
    line-height: 1.25;
  }
}

.community {
  position: relative;
}

.community__container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../assets/communityBg.svg") no-repeat center/auto 100%;
}

.community .extra {
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #007550;
  color: #fff;
}

.community .extra .text {
  color: #e0e0e0;
}

.community .text {
  max-width: 500px;
}

.community .text p:not(:last-child) {
  margin-bottom: 10px;
}

.community .frame {
  margin-top: 60px;
  margin-bottom: 100px;
}

.community .help .title {
  margin-bottom: 30px;
}

.community .help .text {
  margin-bottom: 60px;
  max-width: 606px;
}

.community .help .text p:not(:last-child) {
  margin-bottom: 10px;
}

.community .quote {
  max-width: 390px;
  color: #007550;
}

.community .hoodie {
  height: 442px;
  width: 361px;
  background: url("../assets/hoodie.svg") no-repeat center top;
  position: absolute;
  right: calc((100vw - 1140px) / 2);
  top: 170px;
}

.community .hoodie__btn {
  padding: 5px 20px 9px 48px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #001E20;
  max-width: 170px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  border: 1px solid #001E20;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 1.25;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.community .hoodie__btn:hover {
  color: #fff;
}

.community .hoodie__btn:hover:after {
  height: 100%;
}

.community .hoodie__btn:hover:before {
  border-color: #fff;
  color: #fff;
}

.community .hoodie__btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #001E20;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

.community .hoodie__btn:before {
  content: '?';
  color: #001E20;
  border-radius: 50%;
  border: 1px solid #001E20;
  position: absolute;
  top: 11px;
  left: 8px;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6.5px;
  padding-top: 0.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.community .attention {
  position: absolute;
  right: calc((100vw - 1140px) / 2);
  padding: 20px 40px 35px;
  border: 10px solid #FF513F;
  bottom: 560px;
  z-index: -1;
}

.community .attention .text {
  line-height: 1.25;
}

.community .attention .text:not(:last-child) {
  margin-bottom: 10px;
}

.community .attention .text:not(:nth-child(2)) {
  padding-left: 12px;
  position: relative;
}

.community .attention .text:not(:nth-child(2)):before {
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #001E20;
  top: 9px;
}

.community .attention .title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
}

.community .payBtn {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 35px 16px;
  position: relative;
  font-weight: 700;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 260px;
  z-index: 2;
}

.community .payBtn:hover:before {
  height: 100%;
}

.community .payBtn:after {
  position: absolute;
  content: "";
  background-color: #007550;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.community .payBtn:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 6px;
  left: 0;
  background-color: #015339;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.employment {
  background: url("../assets/employmentBg.png") no-repeat center/auto 100%;
}

.employment .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.employment .hashtag-title {
  margin-bottom: 50px;
}

.employment .descr {
  margin-top: 10px;
  margin-bottom: 60px;
  max-width: 450px;
}

.employment .sourcesList {
  margin-bottom: 30px;
  margin-top: 30px;
}

.employment .sourcesList li {
  padding: 15px;
  border: 5px solid #FF513F;
  background-color: #001E20;
  color: #fff;
}

.employment .sourcesList li:nth-child(odd) {
  margin-right: 45px;
}

.employment .sourcesList li:nth-child(-n+2) {
  margin-bottom: 30px;
}

.employment .payBtn {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 14px 35px 16px;
  position: relative;
  font-weight: 700;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 60px;
  z-index: 2;
}

.employment .payBtn:hover:before {
  height: 100%;
}

.employment .payBtn:after {
  position: absolute;
  content: "";
  background-color: #007550;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.employment .payBtn:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 6px;
  left: 0;
  background-color: #015339;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.warranty {
  background: url("../assets/warrantyBg.svg") no-repeat center/auto 100%;
}

.warranty .warrantyMarkCont {
  position: relative;
  z-index: 0;
}

.warranty .warrantyMarkCont img {
  position: absolute;
  top: 110%;
  right: 10%;
  z-index: -1;
  -webkit-transform: scale(4);
          transform: scale(4);
}

.warranty .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.warranty .firstWarranty {
  max-width: 600px;
}

.warranty .hashtag-title {
  margin-bottom: 50px;
}

.warranty .pointsBlock {
  margin-bottom: 40px;
  margin-top: 31px;
  padding: 26px 31px 41px;
  border: 10px solid #FF513F;
  background-color: #fff;
}

.warranty .pointsBlock .subtitle {
  margin-bottom: 20px;
}

.warranty .pointsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warranty .pointsList li:not(:last-child) {
  margin-bottom: 15px;
}

.warranty .pointsList li .point {
  font-size: 41px;
  font-weight: 900;
  color: #007550;
  min-width: 24px;
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  top: -12px;
}

.warranty .pointsList li .descr {
  line-height: 1.25;
}

.warranty .pointsList li .descr span {
  color: #007550;
}

.warranty .profilesBlock .profilesList {
  margin-bottom: 59px;
  margin-top: 10px;
}

.warranty .profilesBlock .profilesList li {
  padding-left: 32px;
  background: url("../assets/profilesFrame.svg") no-repeat left center;
}

.warranty .profilesBlock .profilesList li:not(:last-child) {
  margin-bottom: 10px;
}

.warranty .profilesBlock .profilesList li p {
  border-bottom: 1px dashed #001E20;
  display: inline;
}

.warranty .shield {
  padding-left: 120px;
  background: url("../assets/warrantyShield.svg") no-repeat left center;
}

.warranty .shield span {
  color: #007550;
}

@media (max-width: 1200px) {
  .warranty .warrantyMarkCont img {
    display: none;
  }
}

@media (max-width: 768px) {
  .warranty {
    background: url("../assets/warrantyMobBg.svg") no-repeat top center/cover;
  }
  .warranty .warrantyMarkCont {
    position: relative;
    z-index: 0;
  }
  .warranty .warrantyMarkCont img {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .warranty .container {
    padding-top: 50px;
  }
  .warranty .hashtag-title {
    margin-bottom: 40px;
  }
  .warranty .pointsBlock {
    margin-top: 90px;
    border: 5px solid #FF513F;
    padding: 15px 16px 25px;
  }
  .warranty .pointsBlock .subtitle {
    margin-bottom: 10px;
  }
  .warranty .listTitle {
    margin-bottom: 20px;
  }
  .warranty .pointsList li .point {
    font-size: 24px;
    min-width: 15px;
    margin-right: 11px;
    top: -5px;
  }
  .warranty .profilesBlock .profilesList li {
    background: url("../assets/newLvlArrow.svg") no-repeat left 7px;
    background-size: 8px 10px;
    padding-left: 18px;
  }
  .warranty .shield {
    padding-left: 0;
    padding-top: 86px;
    background-position: left top;
    background-size: 65px 65px;
  }
  .warranty .shield span {
    color: #FF513F;
  }
}

.founders {
  height: 80vh;
  background: url("../assets/foundersBg.svg") no-repeat center/auto 100% #001E20;
}

.founders .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.reviews .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.reviews .videoList {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.reviews .videoList li {
  overflow: hidden;
  padding: 0;
  position: relative;
  background: url("../assets/videoBg.svg") no-repeat center/cover;
  width: 555px;
  height: 340px;
}

.reviews .videoList li iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.reviews .videoList li:nth-child(odd) {
  margin-right: 30px;
}

.reviews .videoList li:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.reviews .videoList li p {
  position: absolute;
  bottom: 12px;
  padding-left: 28px;
  background: url("../assets/videoDescrBg.svg") no-repeat left 5px;
  left: 42px;
  color: #fff;
  text-transform: uppercase;
}

.reviews .reviewsList {
  padding: 0;
}

.reviews .reviewsList li {
  padding: 0;
  max-width: 555px;
}

.reviews .reviewsList li:nth-child(odd) {
  margin-right: 30px;
}

.reviews .reviewsList li:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* width и height включают в себя значения полей и границ */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* наследует от html */
  margin: 0;
  /* Убирает отступы по умолчанию */
}

body {
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  /* основной шрифт */
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  /* растягивает картинку на всю ширину родительского элемента */
}

a {
  text-decoration: none;
  /* убирает подчеркивание ссылки */
  color: inherit;
  /* позволяет наследовать цвет шрифта от родительского элемента */
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  text-decoration: none;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

.hashtag-title {
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
}

.hashtag-nav {
  font-size: 18px;
  font-weight: 400;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.bold-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hashtag-title {
    font-size: 26px;
    font-weight: 900;
  }
  .subtitle {
    font-size: 18px;
    font-weight: 700;
  }
  .text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */