@import '_variables';
@import '_mixins';
@import '_welcome';
@import '_aboutUs';
@import '_problem';
@import '_audience';
@import '_future';
@import '_pros';

html {
    box-sizing: border-box; /* width и height включают в себя значения полей и границ */
}

*,
*::before,
*::after {
    box-sizing: inherit; /* наследует от html */
    margin: 0; /* Убирает отступы по умолчанию */
}

body {
    overflow-x: hidden;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    min-width: 320px; /* body не адаптируется под ширину экрана менее 1000px */
    font-family: "Roboto condensed", sans-serif; /* основной шрифт */
    font-size: 16px; /* основной размер шрифта */
    line-height: 1.3; /* высота линии для всего документа */
    color: $white; /* основной цвет шрифта */
    background-color: white;
    text-shadow: -1px 1px 2px black
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body.modal-active {
    overflow: hidden; /* скрывает лишнее */
}

img {
    max-width: 100%; /* растягивает картинку на всю ширину родительского элемента */
}

a {
    text-decoration: none; /* убирает подчеркивание ссылки */
    color: inherit; /* позволяет наследовать цвет шрифта от родительского элемента */
}

ul {
    list-style-type: none;
}

.visually-hidden { /* доступно скрывает элемент */
    position: absolute; 
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container { 
    max-width: 1140px;
    min-width: 320px; /* ширина основного контента */
    margin: 0 auto;
    padding: 0 20px; /* центрирование */
}

.containerSmall {
    max-width: 1030px;
    min-width: 320px; /* ширина основного контента */
    margin: 0 auto;
    padding: 0 20px; /* центрирование */
}

.clearfix:after { /* лечит нулевую высоту div при использовании параметра float */
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@font-face {
    font-family: Intro;
    src: url('Intro.otf');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $black;
}

::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 8px;
    border: 2px solid $black; 
}

::-webkit-input-placeholder {
    color: white;
}