.program {
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .intro {
        .subtitle {
            margin-top: 50px;
            margin-bottom: 15px;
        }

        .text {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .hashtag-title {
        span {
            color: $green;
        }
    }

    .table {
        margin-top: 46px;
        div {
            display: flex;
            padding: 14px 10px;
        }

        .table__header {
            padding-bottom: 8px;
        }   

        .table__row { 
            font-size: 18px;

            span {
                text-align: center;
                margin-right: 10px;
                display: block;
                width: 45px;
            }
        }

        .col-12 {
            display: flex;
        }

        .lesson {
            &:nth-child(odd) {
                background: #f2f2f2;
            }
        }
        
        .lesson__header {
            
            background-color: $green;
            color: $white;
            position: relative;

            span {
                
                max-width: 20px;
                margin-right: 15px;
            }
            
            .col-12 {
                font-weight: 600;
                text-transform: uppercase;
            }

            img {
                position: absolute;
                top: 50%;
                right: 25px;
                transform: translateY(-50%);
            }

            .closed {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

@media (max-width: 992px) {
    .program {
        .container {
            padding-top: 50px;
        }

        .col-2 {
            display: none;
        }

        .table {
            margin-top: 40px;
            .table__row {
                font-size: 14px;
                padding-left: 5px;

                span {
                    min-width: 35px;
                    max-width: 35px;
                    margin-right: 10px;
                }
            }

            .lesson__header {
                padding-right: 35px;

                img {
                    right: 20px;
                }

                span {
                    min-width: 18px;
                    max-width: 18px
                }
            }
        }

        

        .intro {
            .text {
                &:not(:last-child) {
                    margin-bottom: 0;
                }
    
                &:last-child {
                    display: none;
                }
            }

            .subtitle {
                margin-bottom: 20px;
                margin-top: 30px;
            }
        }

        
    }
}

@media (max-width: 359px) {
    .program {
        .intro {
            .hashtag-title {
                font-size: 22px;
            }
        }
    }
}