.reviews {
    background-color: $white;
    margin-bottom: 80px;

    .hashtag-title {
        margin-bottom: 50px;
    }

    .container {
        padding-bottom: 100px;
    }

    .carousel-item {
        width: 100%;
        
        
        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            object-fit: contain;
            height: 100%;
        }
    }

    
    
    .carousel-control-next-icon {
        background: url('../assets/carouselArrow.svg') no-repeat center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    

    .carousel-control-prev-icon {
        background: url('../assets/carouselArrow.svg') no-repeat center;
        transform: scaleX(-1);
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .carousel-indicators {
        bottom: -50px;
        z-index: 0;
        li {
            background-color: #e0e0e0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }

        .active {
            background-color: $green;
        }
    }
}

@media (max-width: 992px) {
    .reviews {
        margin-bottom: 40px;

        .container {
            padding-bottom: 50px;
            padding-top: 50px;
        }

        .carousel-item {
            width: 100%;
        }

        .carousel-control-next-icon {

            position: relative;
            right: -40px;
        }
    
        .carousel-control-prev-icon {

            position: relative;
            left: -40px;
        }
    }
}
@media (max-width: 576px) {
    .reviews {
        .carousel-inner {
            img {
                width: 80%;
            }
        }

        .carousel-control-next-icon {
            background-size: 35px 35px;
            position: relative;
            right: 0;
        }
    
        .carousel-control-prev-icon {
            background-size: 35px 35px;
            position: relative;
            left: 0;
        }
    }
}